[2016-12-21 21:39] slvnperron opened #12 "Add a module creation guide"
Explain how to create a simple module from scratch

[2016-12-21 21:40] slvnperron opened #13 "Show local modules in `/manage`"

[2016-12-21 21:40] slvnperron opened #14 "Separate official / community / local modules in `/manage`"

[2016-12-21 21:41] slvnperron opened #15 "Modules sorting in `/manage`"

[2016-12-21 21:41] slvnperron opened #16 "Show module tags in `/manage`"

[2016-12-21 21:41] slvnperron opened #17 "Search modules per tag (`/manage`)"

[2016-12-21 21:43] slvnperron opened #18 "Install & Uninstall local modules (`/manage`)"

[2016-12-21 21:45] slvnperron opened #19 "Prefix logger messages by the calling module name"

[2016-12-21 21:46] slvnperron opened #20 "Add current botpress version on bot start"

[2016-12-21 21:47] slvnperron opened #21 "Show if project has outdated modules + update button"

[2016-12-21 21:48] slvnperron opened #22 "Add a changelog file to the repo"

[2016-12-21 21:48] slvnperron opened #23 "Check if there's a newer version of botpress available"

[2016-12-21 21:49] slvnperron opened #24 "On bot start, display loaded modules and their version"

[2016-12-21 21:52] slvnperron opened #25 "Onboard users on their first visit (`/#guided-tour`)"

[2016-12-21 22:08] slvnperron opened #26 "Make it possible for modules to have a custom icon"

[2016-12-21 22:09] slvnperron opened #27 "Make it possible for bots to replace the botpress logo by their own logo"

[2016-12-21 22:10] slvnperron opened #28 "Standardize react-bootstrap styling in the global theme"

[2016-12-21 22:10] slvnperron opened #29 "Make it possible to hide the community heroes section in the botfile"

[2016-12-21 22:11] slvnperron opened #30 "Add default README in created modules"

[2016-12-21 22:12] slvnperron opened #31 "Add default README in created bots"

[2016-12-21 22:13] slvnperron opened #32 "Make modules style.scss load the bot's theme.scss"

[2016-12-21 22:13] slvnperron opened #33 "Make it possible to overwrite the default theme colors"

[2016-12-21 22:24] slvnperron opened #34 "Make it possible to create interfaceless modules"

[2016-12-21 22:25] slvnperron opened #35 "Add topbar modules extension point"

[2016-12-21 22:25] slvnperron opened #36 "Add menu item modules extension point"

[2016-12-21 22:29] slvnperron opened #37 "Add module pre-publish script with instructions & CLA form"

[2016-12-21 22:33] slvnperron opened #38 "Add a bot deployment guide for AWS / Azure / etc"

[2016-12-21 22:36] slvnperron opened #39 "Add modules_config to gitignore by default"

[2016-12-21 22:40] slvnperron opened #40 "Add a global UI alert (toast) feature that modules can easily use"
modules should be able to use something like:

`this.props.bp.alert('info', 'Config saved successfully')`

[2016-12-22 02:07] slvnperron opened #41 "After a module is initialized, run "npm install" automatically and instruct them to run "npm run watch" to compile the module"

[2016-12-22 02:10] slvnperron opened #42 "On module load error (in the UI), fix the broken link"
![image](https://cloud.githubusercontent.com/assets/1315508/21412939/e466b1be-c7c1-11e6-9e5b-66becebf195d.png)

The "click here" leads nowhere

[2016-12-27 19:43] slvnperron opened #44 "Throw when calling getRouter with an invalid router name"
Routers must start with `botpress-` otherwise they aren't working. This is by design.

We should:

1. Also add `bp-` as a valid router prefix
2. Throw when calling `getRouter` with an invalid name
3. Add this restriction in the `getRouter` documentaton

[2016-12-28 21:12] slvnperron opened #45 "Display bot's current time and allow Time zone override"
In node, setting the `TZ` environment variable will override the Timezone. We should:

1. Add the current timezone in the menu
2. Allow to change the current TZ by setting environment variable and restarting the bot
3. We should have a Settings panel

[2016-12-28 21:23] slvnperron opened #46 "Implement simple users Key-Value store"
Allow to easily store and retrieve user data

[2017-01-11 12:01] amn41 opened #48 "botpress + rasa NLU"
Very excited about botpress. I'd love to see an integration with [rasa NLU](https://github.com/golastmile/rasa_nlu) as well!

[2017-01-11 19:51] DanyFS commented on #48
Thanks @amn41!!! Yes, that's a great idea! We would appreciated it too if someone starts to contribute on a rasa module. Contributions are always welcome! :-)

[2017-01-13 09:14] howardroark2018 opened #49 "License?"
The site says, it is dual licensed. But, here at github, only AGPL is mentioned, which is useless for commercial use of most kinds and completely unlike WordPress for that matter. What's the other license under the dual license that is advertised on the official website?

Thanks!

[2017-01-13 13:13] DanyFS commented on #49
Dear Howard,

Thanks for your good question. We will send you the Botpress license shortly but in the meantime please see the FAQS on our website.

The licensing has been the cause of much soul searching this side.  We needed to find a balance between transparency and incentivizing collaboration and making this a sustainable venture in the long run.  If we followed the Wordpress model to the lette

[2017-01-14 12:37] rocel commented on #20
This has to be done on the server side (I assume server.js) or in the botpress start cli command?

[2017-01-14 13:21] hilkeheremans opened #52 "Botpress changes cwd, causing issues with node-config"
When Botpress is used with `node-config`, the config path is set to `WARNING: No configurations found in configuration directory: <...>/node_modules/botpress/config`. This causes node-config not to find its own configuration files.

For others having this issue: easy to work around by overriding `process.env.NODE_CONFIG_DIR` using something like
[code]

Since, _for this case_ there is an easy (alb

[2017-01-15 04:50] Jamie452 commented on #38
+1
I'm having trouble getting botpress to run with Node 6.9.2 on a Ubuntu 16.04 box from digital ocean.

[2017-01-15 04:53] slvnperron commented on #38
Jamie, can you tell me a bit more about the problems you are facing on the
Digital Ocean box?

*Sylvain Perron*
Software Engineer
slvn.perron@gmail.com
sylvain.perron@protorisk.com
T | +1 418 440 7586

2017-01-14 23:50 GMT-05:00 Jamie Street <notifications@github.com>:

[2017-01-15 04:54] slvnperron commented on #20
This should be done in botpress.js, in the start function I think :)

*Sylvain Perron*
Software Engineer
slvn.perron@gmail.com
sylvain.perron@protorisk.com
T | +1 418 440 7586

2017-01-14 7:37 GMT-05:00 Damien Chaillou <notifications@github.com>:

[2017-01-15 04:58] Jamie452 commented on #38
Hey @slvnperron,

I managed to fix it but the issue I was having was after running `botpress start`:

[code]

After installing sqlite3 manually with `npm install sqlite3 --save` it worked fine :)

[2017-01-15 05:01] slvnperron commented on #38
Thanks, happy to hear that you could sort it out!

*Sylvain Perron*
Software Engineer
slvn.perron@gmail.com
sylvain.perron@protorisk.com
T | +1 418 440 7586

2017-01-14 23:58 GMT-05:00 Jamie Street <notifications@github.com>:

[2017-01-15 16:06] slvnperron commented on #52
thanks @hilkeheremans for the thorough description. Let's make it a low priority as you suggest 👍

[2017-01-15 16:12] slvnperron opened #53 "[create modules] Exclude react from the bundle by default"
In the default `webpack.js` file, exclude React (and ReactDOM) from the bundle. The reason is because if we don't there's two different versions of React running concurrently, causing issues with ReactDOM

[2017-01-15 18:57] hilkeheremans opened #54 "Document on how to use transpiled code with botpress"
This shouldn't be a problem for many but it would be convenient to document on how to use transpiled code with a botpress application, allowing use of things like `import/export` or `async/await` in the node.js part of the codebase.

I'd be happy to document this in a separate .md on the Advanced Topics, for example. Let me know if this kind of thing is desirable and, if so, I'll submit a quick PR

[2017-01-15 19:03] slvnperron commented on #54
@hilkeheremans that would be awesome 👍

[2017-01-16 17:01] kmarima opened #55 "Error on windows"
Once I bp init i get this error
[code]

[2017-01-16 19:41] keon opened #56 "why bluebird over native promise?"
I think bluebird can be replaced with native promise of ES6.

[2017-01-16 22:17] slvnperron commented on #55
@kmarima thanks for reporting this, will fix that right away

[2017-01-18 00:48] rocel commented on #20
Pull Request here : https://github.com/botpress/botpress/pull/57

What do you think ?

[2017-01-18 01:11] rocel commented on #30
can't it be docs/creating-a-module.md ? it already explains pretty well how develop a module.

[2017-01-18 02:25] rocel opened #58 "minify web.bundle.js"
The actual `web.bundle.js` file is 3.3MB, which is huge. A simple JS minification of the web.bundle.js code could reduce to 1.1MB ... which is significantly better.

Just adding the following plugin to webpack.js :
[code]

Would you want a PR for this?

[2017-01-18 18:42] eyalcohen4 opened #60 "Watch code and run"
Hey!
I'm having a lot of fun while playing with botpress. really cool idea and implementation.

I offer a feature, but there is a chance i can do it and just need to RTFM.

Instead of run `bp start` each time i change my code, the process will watch my code and restart/update himself.

tnx

[2017-01-18 19:01] slvnperron commented on #60
hey, glad you like botpress :)! It's a very nice idea. What about implementing it with an optional `-w` or `--watch` flag on `bp start`? We would love it if you could make this pull request, it's something I've been wanting too!

[2017-01-18 20:44] sibelius opened #61 "use yarn \o/"
yarn is much faster than npm

[2017-01-18 20:58] slvnperron commented on #61
@sibelius thanks. A PR would be awesome 💃

[2017-01-19 07:08] eyalcohen4 commented on #60
Cool! I'll do it. thinking about add nodemon as a module, and in the start file add it to the function.

[2017-01-19 11:38] rocel commented on #60
@slvnperron @eyalcohen4
isn't it what the `npm run watch` already do? it uses nodemon.
I actually do use this command while testing/hacking botpress (the server or the cli).

[2017-01-19 11:49] eyalcohen4 commented on #60
If i understand well, you are talking about botpress development.

I meant when developing the bot instance @rocel

[2017-01-19 14:31] slvnperron commented on #60
@eyalcohen4 that's how I would do it, yes. Though only add it as a `devDependencies` and make the command available only in development if that makes sense? thanks

[2017-01-19 15:16] rocel commented on #60
oh ok, sorry then. Indeed a flag on `start` would be user friendly and nodemon a good idea.

[2017-01-19 17:02] slvnperron opened #62 "Integrate with Botkit"
Botpress lacks conversation management, we should have an easy Botkit support built-in

[2017-01-19 20:43] DanyFS opened #63 "Testing CLA"

[2017-01-19 20:45] #63 closed

[2017-01-19 20:57] DanyFS opened #64 "Testing CLA"

[2017-01-19 21:06] slvnperron opened #65 "Testing new CLA"

[2017-01-20 12:34] #64 closed

[2017-01-20 12:34] #65 closed

[2017-01-20 13:39] slvnperron commented on #56
We could, but we use many bluebird helpers which makes code simpler and more readable. Bluebird is small, has no dependencies, is faster than native ES6 promises and has lot more features. Unless there's a necessity to move away from it I see no reason to use native promises?

Thanks!

[2017-01-20 13:39] #56 closed

[2017-01-20 14:55] #55 closed

[2017-01-20 14:56] slvnperron commented on #55
@kmarima you'll need to update the local botpress to v0.0.45, let me know if this is fixed!

[2017-01-21 08:48] kmarima commented on #55
It's working now @slvnperron

[2017-01-21 09:24] kmarima opened #67 "Error When I Click ngrok"
I get this error when I click the ngrok checkbox (windows)

`  12:09:24 - error: (fatal) An unhandled exception occured in your bot Error: spawn ./ngrok.exe ENOENT
    at exports._errnoException (util.js:1026:11)
    at Process.ChildProcess._handle.onexit (internal/child_process.js:193:32)
    at onErrorNT (internal/child_process.js:359:16)
    at _combinedTickCallback (internal/process/next_tick.

[2017-01-22 01:16] tehp opened #68 "Possible error on botpress.io"
I think this is a possible error.
![image](https://cloud.githubusercontent.com/assets/3845735/22179051/fc5615e6-dffc-11e6-9eff-61a348c2e02d.png)
The quote was most likely meant to say certainty rather than certainly.

<br>

I could not find a repository for your site so I couldn't send a PR directly.

Hopefully this helps.

[2017-01-22 14:17] DanyFS commented on #68
Oh, good catch @tehp!!! Thanks for your help!

I will fix it right now.

[2017-01-22 14:19] #68 closed

[2017-01-24 21:37] cesarvarela commented on #62
Hi guys, we like your project a lot!

Any ideas on when botkit integration is going to be ready?

[2017-01-25 23:42] jonbaer opened #69 "bp install broken on OSX"
For some reason on OSX the path to load seems to append an additional "b" to the start of the path thus failing to load the module ...

bash-4.4$ bp install ../botpress-mymodule/
[botpress] 	 please wait, we are trying to install your new modules...
[botpress] 	 Installing modules: ../**bb**otpress-mymodule
[botpress] 	 ERR npm
[botpress] 	 ERR
[botpress] 	 ERR ERR! addLocal Could not install /Use

[2017-01-26 23:00] slvnperron commented on #62
@cesarvarela thanks man! I just finalized a working first version of the integration (see botpress/botpress-botkit repo). I would appreciate your feedback! (pss: join us on slack: slack.botpress.io) :handshake:

[2017-01-29 08:17] matheusmatos commented on #69
+1

[2017-01-31 00:37] #69 closed

[2017-01-31 16:14] #61 closed

[2017-01-31 16:14] #39 closed

[2017-02-02 02:50] Joepena commented on #53
#78 I have made a pull request for my commit to this issue. I have added the 'externals' configuration option to exclude react and reactDOM.

[2017-02-02 15:46] slvnperron commented on #53
Fixed in #78 . thanks again Joe :1st_place_medal: :)

[2017-02-02 15:46] #53 closed

[2017-02-07 15:16] slvnperron commented on #62
✅ [**Botkit Integration**](https://github.com/botpress/botpress-botkit)

[2017-02-07 15:16] #62 closed

[2017-02-07 16:33] slvnperron opened #79 "Migrate database to Postgres"
SQLite is very nice for beginners because there is nothing to setup and configure. But is has many drawbacks:

- Since it's file-based, it can't be used on PaaS like Heroku where the file system is ephemeral
- It doesn't scale to multiple bot instances
- Not suitable for enterprise usage

We have decided to switch to Postgres because:

- Of it's popularity
- Extensions like JSON/JSONB storage
- Wi

[2017-02-07 16:39] slvnperron opened #80 "Modules configuration should be a Core feature and be stored in database"
Currently, every module has to offer a UI for configuration and they all implement the same "save/get" mechanism into JSON files.

We need to save configuration in the database for multi-server bots.
We also need an automatic Save/Get mechanism and an automatic UI generator for configuring the modules. There should also be a built-in "configuration" or "settings" panel where all the configuration

[2017-02-07 16:43] slvnperron opened #81 "Built-in Key/Value Storage"
In all bots there's almost always a need to store and save information. There should be a built-in KVS so that users don't have to create and manage trivial database tables every time.

[2017-02-07 16:44] slvnperron opened #82 "Native support for unit testing"
It would be nice to be able to Unit Test the bots behavior. This is mostly for enterprise clients.

[2017-02-07 16:50] slvnperron opened #83 "Better the documentation"
- Have more images / fix image links
- Have anchored links
- More documentation
- Embed videos

[2017-02-07 18:49] vtrpldn commented on #33
This relates do #27 in any way? Something akin to creating a WordPress-like Appearance menu?

[2017-02-07 19:31] slvnperron opened #84 "Make middleware re-ordering more obvious (Dashboard UI)"
Something like this:

http://ux.stackexchange.com/questions/26121/what-is-a-good-visual-cue-for-drag-and-drop-for-reordering-a-list-of-items

[2017-02-07 19:39] matheusmatos commented on #79
We have to think how database must and will be used. Let's look some examples:

## First example:

I'm a beginner, and I have created a simple chatbot that responds info about weather using an API. I just need a database for save basic user info. SQLite is easy to start and make tests, however, I wanna make my bot scalable and switch to Postgree in production is the sensible thing to do.

In this

[2017-02-07 20:05] slvnperron commented on #79
Thanks Matheus! Very clear response and valid points. I'll try to explain my view on this, let me know what you think:

## Ex 1

We are already using Knex, but unfortunately we reached the limit of what a generic query builder can do. The problem is with Query Builders and ORMs is that:

- Each databases have special data types, and you can't handle them all using ORMs and QBs. For example you can

[2017-02-07 20:16] slvnperron commented on #79
It's funny because I just read the article you sent and he says almost exactly the same thing:

[2017-02-08 15:42] wac2007 commented on #79
Why don't keep SQLite as a default on localhost to speed the development and use modules like @matheusmatos  asked before?
 - botpress-mongo
 - botpress-postgres
 - botpress-mysql
 - botpress-redis

This way we keep the things simple and the developer choose what solution fits their needs.

[2017-02-08 15:48] slvnperron commented on #79
Thanks @wac2007. See my answer regarding multiple data storage engine. Modules need to have a fixed storage engine, otherwise they would need to implement each. It's not as simple as a `get/set`, botpress modules make complex queries (see botpress-analytics for example) that rely on database-specific syntax and features.

Matheus and I talked about it extensively yesterday and we decided to go for

[2017-02-08 16:08] matheusmatos commented on #79
I understand your points.

My primary vision about that, is that bots doesn't needs a database as primary requirement. Look:

The simple `Placebot` makes a query on GoogleMaps and return the results as a generic template on Messenger.

My point is: exists bots without database.

It's not like a blog, that **need** a database. Doesn't exists blog without a database (or a system to persist data).

S

[2017-02-08 16:15] wac2007 commented on #79
I think if we are start developing, we want to keep things simple as possible and SQLite is the best option in this case.

We can put plugins who needs complex queries requiring complex databases like postgres.
You have ``botpress-analytics`` as an example but, if I start to making a bot, i don't need this time. I can migrate to a postgres later and do some tests with postgres.

PS: I don't know i

[2017-02-08 16:16] slvnperron commented on #79
@wac2007 that's our reasoning, makes sense guys. Thanks a lot for your inputs! And your english is 100% clear :D

[2017-02-08 22:03] arcticbarra opened #85 "Array support fo bp.hear"
Hey there!

Is there any way to add array support for the bp.hear() method? I want to match some item inside the array to avoid creating multiple functions with the same content for matching different messages.

Thanks a lot, botpress is awesome!

[2017-02-09 01:16] rocel commented on #79
@slvnperron you wrote "SQLite by default using knex, but some specialized modules (like analytics) will require Postgres."; which means that in a fresh install, you'd have both databases running?

[2017-02-09 01:21] slvnperron commented on #79
@rocel in a fresh install only SQLite, some modules however will require Postgres (hosted somewhere or installed locally). The good news is that I think that I can get analytics to work with both SQLite and Postgres with minimal query rewrite! Looks like there's going to be 0 module/feature impacted by the transition at the moment.

[2017-02-09 01:22] slvnperron commented on #79
That being said I think we should recommend using Postgres for any bot that goes into production / or past initial experimentation phase. Of course one could stay indefinitely with SQLite (like Boost) if there is no need to scale in the near future.

[2017-02-10 02:15] wac2007 opened #87 "Webpack Error on starting a new module"
When we create a new module the config page stuck

![image](https://cloud.githubusercontent.com/assets/1892294/22811430/edeb989a-ef25-11e6-81d5-2d35bf1ef3d7.png)

![image](https://cloud.githubusercontent.com/assets/1892294/22811420/d71f138a-ef25-11e6-8644-84df0c6b3ce6.png)

Need to remove lines 47-50 from webpack.js

![image](https://cloud.githubusercontent.com/assets/1892294/22811448/0599ce08-ef2

[2017-02-10 22:17] wac2007 opened #88 "Update package.json"
Starting a new Application and installing new modules, need to include the dependencies in package.json. When we deploy the application we can't depend of global installation of botpress.

[2017-02-11 02:08] slvnperron commented on #88
@wac2007 sorry I am not sure to understand which module is missing? If you `npm install` a bot the expected behavior is that botpress + all modules will be installed. Is this not the case with your bot?

[2017-02-11 02:15] wac2007 commented on #88
When i create a bot with bot start, the file packages.json was create with no dependencies.

[2017-02-11 03:22] slvnperron commented on #88
Can you tell me which version of botpress you have and also paste the content of a freshly created bot's package.json?

[code]

Thanks

[2017-02-13 10:12] miherlosev opened #90 "e2e tests"
It would be nice to add e2e tests for the bot dashboard web app: installing, logs, notifications, showing the list of modules, etc.
I can do this using [TestCafe](http://github.com/devexpress/testcafe).
What do you think about it?

[2017-02-13 15:02] slvnperron commented on #90
I agree, that would be a very great contribution! 👍

[2017-02-13 19:46] slvnperron commented on #79
![](https://github.trello.services/images/mini-trello-icon.png) [Database migration to Postgres](https://trello.com/c/oBQVUhaf/3-database-migration-to-postgres)

[2017-02-13 19:54] slvnperron commented on #83
![](https://github.trello.services/images/mini-trello-icon.png) [Better the documentation](https://trello.com/c/k8cLKoQQ/6-better-the-documentation)

[2017-02-13 20:29] wac2007 commented on #79
This card isn't public. (at least for me)

[2017-02-13 20:42] slvnperron commented on #79
@wac2007 sorry, I referenced this card on our internal trello board 😆

This is almost done! :)

[2017-02-14 14:45] slvnperron commented on #79
Done in the `sp-postgres` branches in the core and all the modules.

Closing this 💃

[2017-02-14 14:45] #79 closed

[2017-02-14 14:47] slvnperron commented on #81
![](https://github.trello.services/images/mini-trello-icon.png) [GitHub Milestone #1](https://trello.com/c/oBQVUhaf/3-github-milestone-1)

[2017-02-14 14:47] slvnperron commented on #82
![](https://github.trello.services/images/mini-trello-icon.png) [GitHub Milestone #1](https://trello.com/c/oBQVUhaf/3-github-milestone-1)

[2017-02-14 14:47] slvnperron commented on #34
![](https://github.trello.services/images/mini-trello-icon.png) [GitHub Milestone #1](https://trello.com/c/oBQVUhaf/3-github-milestone-1)

[2017-02-14 14:47] slvnperron commented on #80
![](https://github.trello.services/images/mini-trello-icon.png) [GitHub Milestone #1](https://trello.com/c/oBQVUhaf/3-github-milestone-1)

[2017-02-14 17:47] slvnperron commented on #81
Done in `sp-postgres`

[2017-02-14 17:47] #81 closed

[2017-02-14 20:51] slvnperron opened #91 "Add a shortcut to easily debug botpress bots"
Right now we need to modify the `bin/botpress` file line 1 to include `--inspect` or `--debug`. There should be an easier way for bot makers, like: `botpress start --debug` or `npm run debug`

[2017-02-16 01:10] #34 closed

[2017-02-16 01:13] slvnperron commented on #80
Fixed in `sp-postgres`

[2017-02-16 01:13] #80 closed

[2017-02-17 18:13] slvnperron opened #94 "Async/Await support"
Support for Async/Await would be nice, especially since the introduction of the configurator.

We need :
- a runtime polyfill in botpress
- an async babel transform in modules by default
- modify the modules templates to use them by default

[2017-02-17 18:19] #94 closed

[2017-02-18 21:51] alexandernst opened #96 "Add IRC connector"
IRC is a must-have imho :)

[2017-02-19 14:14] TheFreakLord commented on #96
Here you go: https://www.npmjs.com/package/botpress-irc

It let's you listen for two kinds of messages: "message" and "pm".

[code]

[2017-02-19 17:34] #49 closed

[2017-02-19 23:40] #25 closed

[2017-02-19 23:44] #44 closed

[2017-02-20 00:48] thelinuxlich opened #98 "Any tips for scaling Botpress?"
What if my botpress instance reaches a connection limit, how should I scale it?

[2017-02-20 16:47] slvnperron commented on #98
hey Alisson, should your bot reach a connection limit, you can scale it by running many instances and having a load balancer distribute the traffic. A single botpress instance has a throughput of many thousand messages per second (of course depending on the instance type).

Reminder: If you plan on having more than 150K interactions / month, you need a commercial license (and we also help you arch

[2017-02-20 16:48] #98 closed

[2017-02-20 22:15] slvnperron opened #99 "Conditional middlewares"
Let's say you have an incoming middleware chain that looks like this:

`[analytics] -> [hitl] -> [rivescript] -> [last_middleware]`

You would like rivescript to only process messages if they are coming from a private channel. If you insert a custom middleware between [hitl] and [rivescript], the event will be swallowed and won't be processed by [last_middleware]. It would be nice to add a filter

[2017-02-21 01:14] thelinuxlich commented on #98
Fine, but will Botpress handle correctly the chats by just load balancing the cluster?

[2017-02-21 01:27] slvnperron commented on #98
@thelinuxlich Botpress itself is essentially stateless, so the the potential bottlenecks depends on which modules you plan to use? For example the HITL module stores the conversations and their status in the database. With the upcoming update (v.0.1), Botpress is going to use Postgres as the main storage, meaning the interactions and users will be persisted at the same place. That being said, any

[2017-02-21 01:32] thelinuxlich commented on #98
I mean, the user can be in a ongoing conversation with a bot(facebook, slack) and if it is load balanced, lose context

[2017-02-21 01:42] slvnperron commented on #98
@thelinuxlich Yes exactly, that is why I said that any state/context should be stored in redis or memcached when you distribute your bot. We'll soon have a shared context module :)

[2017-02-21 01:47] thelinuxlich commented on #98
ah, got it!

[2017-02-22 02:24] slvnperron opened #100 "Make fetching modules & heros optional"
Botpress should work even if fetching these fails

![image](https://cloud.githubusercontent.com/assets/1315508/23194462/3f5c93c8-f87c-11e6-8564-67963544301e.png)

[2017-02-23 15:27] TheEskhaton opened #101 "Decouple the database from knex+SQLite"
It would be great if the data access layer was not so tightly coupled to the sqlite database and knex.

Is some kind of configurable adapter pattern planned?

[2017-02-23 15:39] slvnperron commented on #101
hey, I would like to know more about your use case and why you think this is important? Please have a look at this discussion we already held on the subject. Postgres support will ship in a few days.
 https://github.com/botpress/botpress/issues/79

[2017-02-23 16:54] kovcic commented on #87
Had the same issue. I fixed it by using capital R in values for react and reactDOM

[2017-02-23 16:58] kovcic commented on #87
https://github.com/botpress/botpress/pull/102

[2017-02-23 18:00] slvnperron opened #103 "Automatically migrate database from 0.0 --> 0.1"

[2017-02-24 08:06] TheEskhaton commented on #101
Ah i didn't notice the #79 issue.

You have mentioned some key issues with SQLite in the referenced issue, and since a Postgres implementation is already done and will ship soon, my core problem of sqlite not being scalable and suitable for enterprise usage is solved. My main idea behind an abstracted data storage was mainly of selfish reasons of our company using MSSQL and having a well set up in

[2017-02-24 12:15] DonRichards opened #104 "botpress-irc Module on OSX issues"
#### Had an error with installing **botpress-rc** module.

When I click on it the page says Loading module... And it stays like this.
![000](https://cloud.githubusercontent.com/assets/2738244/23303244/f004ac34-fa60-11e6-9f1f-30f72f56f30d.png)

#### Here's my error Log

[https://gist.github.com/DonRichards/e549506917660f6b98271888354f0816](https://gist.github.com/DonRichards/e549506917660f6b9827188

[2017-02-24 12:31] DonRichards commented on #104
The error comes at node-icu-charset-detector@0.2.0 install

ICU4C libraries should fill in this gaps. One way to knock out this error but causes another is to do the following.
[code]
Here's the new log
[https://gist.github.com/DonRichards/1739b6539d82fd163239c4f3faaf692e](https://gist.github.com/DonRichards/1739b6539d82fd163239c4f3faaf692e)

Current Error
[code]

Not sure what it's trying to do h

[2017-02-24 13:10] gyKa opened #105 "Add Skype connector."
It would be great to have Skype connector as well :)

[2017-02-24 13:56] slvnperron commented on #101
Thanks for your reply! That makes sense then, I'll close this issue.

Please reach out personally to me at anytime if you have questions of any kind for enterprise usage, we are in the process of doing scalability tests, writing documentation and trying to find a pricing strategy that will satisfy everybody.

My email is sylvain@botpress.io

[2017-02-24 13:56] #101 closed

[2017-02-26 06:04] chandan-pal commented on #42
how to reproduce the error?

[2017-02-26 17:55] slvnperron commented on #103
We won't do this as people will need to migrate botpress manually (i.e. we won't pursue our auto-update route) so that we don't risk beaking any existing bots.

[2017-02-26 17:55] #103 closed

[2017-02-26 20:26] #41 closed

[2017-02-26 20:43] #26 closed

[2017-02-26 21:13] #28 closed

[2017-02-27 19:20] #32 closed

[2017-02-28 02:48] slvnperron opened #107 "Overridable module configuration in botfile"
Make it possible to override modules configuration in botfile. For example I might want to set my bot's greeting message (botpress-messenger) in my botfile for source-control reasons:

[code]

[2017-02-28 03:15] slvnperron opened #108 "Fix UI to work with route prefixes"
Currently all requests are made as `/...` with a /, assuming that botpress is hosted and available at the root of the domain. This doesn't work when you have a reverse proxy hosting your code as `https://bots.botpress.io/bot13842/___`

[2017-03-03 14:07] AlexGustafsson opened #113 "Simplifying connection to messaging clients"
Today I read about "Broid", a way of implementing multiple messaging platforms such as Messenger, Kik, Discord and Twitter with a unified api. Perhaps this module could simplify the way Botpress handles different messaging platforms as well as add previously none-existing clients.

Article:
https://medium.com/broid/integrate-a-dozen-messaging-platforms-in-5-minutes-4d77ee48f4c3#.6j39o177v

Reposit

[2017-03-04 18:58] acailly commented on #113
I just tried it and it is nice, and their list of supported platforms is quite impressive !

Unfortunately messenger connector is not working for me:  https://github.com/broidHQ/integrations/issues/73

But I managed to connect with BotFramework, and tested it via Skype.

I agree a broid.ai middleware should be a solution to unify interactions with multiple messaging platforms.

[2017-03-07 01:47] slvnperron commented on #104
Thanks Don. We're not the original makers of the IRC module, could you please submit this issue to the `botpress-irc` repo so that Paul (@TheFreakLoad) can see/address this?

Thanks

[2017-03-07 01:48] slvnperron commented on #105
@gyKa cool, just added your suggestion to the [Trello](https://trello.com/b/vcT3ILLI/botpress-public-roadmap). May I know your use case for a Skype bot :) ?

[2017-03-07 01:49] slvnperron commented on #105
(Closing this issue but let's continue to discuss on it, turned on notifications)

[2017-03-07 01:49] #105 closed

[2017-03-07 01:49] #96 closed

[2017-03-07 01:50] slvnperron commented on #88
@wac2007 just following up on this. is this still an issue?

[2017-03-07 01:51] slvnperron commented on #113
Thanks Alex. We're in contact with the Broid team and discussing potential integration possibilities :) Will update this as we progress

[2017-03-10 21:43] #27 closed

[2017-03-10 21:45] #20 closed

[2017-03-10 21:51] slvnperron commented on #33
@vtrpldn yes. This feature shipped in v0.1 but still undocumented

[2017-03-10 21:51] #33 closed

[2017-03-14 12:55] ghost opened #117 "CI Badge"
Does Botpress use a CI ?  If so it would be a good idea to add a badge to the repo to help indicate the build status.

[2017-03-14 14:48] jcampbell05 commented on #113
I've experimented with some of them with integration for Bottr :) they are working on making it more open and flexible so it can be integrated into other frameworks.

Their are a few issues with some clients I have noticed as well we would have to make sure are fixed.

[2017-03-15 11:05] ewdave commented on #107
Is this done? Was thinking of getting on it

[2017-03-15 13:39] slvnperron commented on #107
Hey @ewdave , this is done, so sorry for not closing this!

Doc: https://docs.botpress.io/modules/how-to-configure-my-module.html (last section)

[2017-03-15 13:39] #107 closed

[2017-03-20 06:41] donedgardo opened #119 "No method `getRouter` in bp instance."
my index.js
[code]
version 0.1.6

[2017-03-20 17:11] slvnperron commented on #119
Thanks Edgardo, will look into this soon. In the mean time, you can work around it:

[code]

[2017-03-21 00:54] donedgardo commented on #119
rolled down to v 1.0.4, havn't tried setImmediate()=>{} yet. Thank you for reply.

[2017-03-22 01:22] #119 closed

[2017-03-22 01:23] slvnperron commented on #119
Fixed in 0.1.7 @donedgardo

[2017-03-22 06:29] donedgardo commented on #119
Confirmed

[2017-03-22 15:19] sanampreet opened #120 "unable to install botpress"
node-pre-gyp ERR! Tried to download(undefined): https://mapbox-node-binary.s3.amazonaws.com/sqlite3/v3.1.8/node-v48-win32-x64.tar.gz
node-pre-gyp ERR! Pre-built binaries not found for sqlite3@3.1.8 and node@6.10.1 (node-v48 ABI) (falling back to source compile with node-gyp)
gyp ERR! configure error
gyp ERR! stack Error: Can't find Python executable "C:\Users\HP INDIA\AppData\Local\Programs\Python

[2017-03-22 15:38] slvnperron commented on #120
Thanks @sanampreet, seems like a SQLite issue. Can you try switching to node 6.5 (you can use a tool called nvm to switch versions seamlessly)?

Thanks

[2017-03-22 15:52] slvnperron opened #121 "Custom icons don't show up correctly in the modules list"

[2017-03-22 16:02] sanampreet commented on #120
@slvnperron
i have node 6.10.1 version

[2017-03-22 23:44] slvnperron commented on #120
@sanampreet I know, I asked if you can try switching to 6.5 using nvm. The reason I ask is because it's been tested on Windows under node 6.5

You can also upgrade to node 7.x

This is an error compiling SQLite by the way

[2017-03-23 15:18] #113 closed

[2017-03-23 17:40] AlexGustafsson commented on #113
What's the status and what is the reason of closing the issue, @DanyFS?

[2017-03-23 18:42] DanyFS commented on #113
The only reason why I decided to close this issue is not because it's not a good idea, it's a very good one by the way, but for the moment (until for the next 3-4 months), we can be dependant on Broid or any other external extension. The market is too early and we don't know if they will continue to maintain their tools or not... We keep your idea in mind!

Thanks for the proposition @AlexGustafss

[2017-03-24 08:32] AlexGustafsson commented on #31
What should the file contain? Simple get-started info as found in this project's README ([here](https://github.com/botpress/botpress#creating-a-bot))?

[2017-03-24 11:49] slvnperron commented on #31
Yes! :)

[2017-03-26 20:07] jcampbell05 opened #122 "Botpress init should create folder"
when creating a new project it would be nice if botpress would make the folder for you.

[2017-03-31 15:18] stefan-andersen opened #123 "error: could not fetch modules"
I followed the installation instructions. Everything installed just fine.
But the dashboard looks empty. All the modules are missing.

Here is the log:

15:47:47 - info: Starting botpress version 0.1.7
15:47:47 - debug: Loading middleware: hear
15:47:47 - info: Bot launched. Visit: http://localhost:3000
**15:47:55 - error: Could not fetch modules
15:47:55 - error: Could not fetch popular modules**

[2017-03-31 16:32] slvnperron commented on #123
Hey stefan, thanks for reporting this. We can't reproduce this on our side, so I am suspecting something goes wrong with your installation.

Can you time the time it takes for the CURL to return? `time curl <URL>`
Also could you check that you have writing permissions to the `./data` dir of your bot?

By the way, even though the fetching fails, there should be something in the UI. Wo I'm consideri

[2017-03-31 16:33] slvnperron commented on #122
Good suggestion, agreed!

[2017-03-31 16:34] slvnperron commented on #120
Haven't heard back so will close. Please re-open it this sill fails

[2017-03-31 16:34] #120 closed

[2017-03-31 16:35] slvnperron commented on #117
Hey James, we're in the process on setting up a CI. We'll add the badge to the readme when it's done!

Thanks :)

[2017-03-31 16:36] #104 closed

[2017-03-31 17:14] stefan-andersen commented on #123
./data has max permissions:

[code]

Curl looks good:

[code]

Still no luck :-/

[2017-03-31 17:41] slvnperron commented on #123
Thanks,
Could you try the following for me?

1. cd into `<botdir>/node_modules/botpress/lib`
2. open modules.js in a code editor
3. Spot [this line](https://github.com/botpress/botpress/blob/master/src/modules.js#L37) (it's going to be babelized so the code won't look the same) and in the catch, catch the error and console.log it so we can know what's happening here?

Thanks a lot

[2017-03-31 18:02] stefan-andersen commented on #123
It says:

`Error: timeout of 5000ms exceeded
    at createError (/home/stefan/workspace/botpress-bot/node_modules/axios/lib/core/createError.js:15:15)
    at Timeout.handleRequestTimeout [as _onTimeout] (/home/stefan/workspace/botpress-bot/node_modules/axios/lib/adapters/http.js:201:16)
    at ontimeout (timers.js:386:14)
    at tryOnTimeout (timers.js:250:5)
    at Timer.listOnTimeout (timers.js:

[2017-04-02 12:05] stefan-andersen commented on #123
It magically started working. I guess you changed something server-side.
Thanks!

[2017-04-02 12:05] #123 closed

[2017-04-02 17:22] jcampbell05 opened #124 "Implement a default fallback or error response."
We should have a way of having a bot send a message when the server encounters an error for a better experience for users.

Additionally in Bottr I had a way of detecting when a incoming message wasn't handled and have the bot automatically respond to let the user it hadn't been taught what to do with that message.

This catch all was good for UX since the developer could spot code paths they miss

[2017-04-02 17:28] jcampbell05 opened #125 "Power Hears by an event system"
In Bottr I had an event system power everything. Middlewares were essentially like Filters in Wordpress that would listen to an event, handle it and tell it to carry on to call the next listener for that event.

Everything including the `hear` methods used this, which was great as you could simply write `on('message')` if all you cared about is the message :) and not the content of it. Right now I

[2017-04-02 17:34] jcampbell05 opened #126 "Unified Sending API"
For some of my bots, the lack of a very basic unified sending API makes it hard to port them to a new platform.

The way I worked on solving this in bottr is by sharing some basic low-level sending methods such as:
send("Text")

and:

sendFile("./path/to/file")

If you wanted to use more complex or platform specific methods then you had to use a object styled system like so:

send({
text: "Hey",
f

[2017-04-03 13:08] slvnperron commented on #124
Great idea!! Maybe the default would be like you say + we could give the developers a way of switching to:

1 (default) - Respond to the user "I'm sorry, ... " + warn message in logger
2 - Don't say anything but pop a Botpress notifications + a warn message logger
3 - Warn in logger only
4 - Custom handler

What do you think?!

[2017-04-03 13:12] slvnperron commented on #125
Thanks James. I am not sure to understand the difference in Bottr & Botpress?

Botpress middlewares are also in charge of processing every incoming & outgoing events (let it be text, api calls, etc). Everything that comes in and goes out of Botpress is doing so by an event which middlewares can hook into.

[2017-04-03 13:18] slvnperron commented on #126
Great idea! We have some (undocumented) low-level events standards that we could build on top of:

Basically every events **must** implement: `type`, `text`, `platform` and `raw`. Additionally, events that targets a specific user must have a `user` property with `id` in it. That means that if the developers of connector modules follow this standard, it should be possible to shorten:

[code]

to:

[2017-04-03 18:10] jcampbell05 commented on #125
@slvnperron I'm meaning that as a developer I could easily have a on('message') event just for messages

[2017-04-03 18:11] jcampbell05 commented on #125
Looks the same on closer inspection :) late night issues aren't a good idea ;)

[2017-04-03 18:11] #125 closed

[2017-04-03 18:14] jcampbell05 commented on #124
Yeah maximum flexibility :)

[2017-04-03 18:31] slvnperron commented on #124
Cool! Like this idea. Let's implement this :)

[2017-04-04 19:14] DonRichards commented on #104
Thanks!

[2017-04-07 07:30] sanampreet opened #127 "error running init botpress"
C:\Users\HP INDIA\my-bot>botpress init
module.js:471
    throw err;
    ^

Error: Cannot find module 'C:\Users\HP INDIA\AppData\Roaming\npm\node_modules\botpress\bin\botpress'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at Module.runMain (module.js:604:10)
    at run (bootstrap_node.js:393:7)
    at startup (bootstrap_node.js:150:9

[2017-04-07 23:00] acailly opened #128 "Issue when deploying to Azure - cluster not supported"
Has anyone succeeded in deploying a botpress bot on Azure website?

I ran into some problem and I'm currently stuck.

First, it seems that the deployment process use the npm start command and expects something like `node myscript.js`. If I put `botpress start` or `node node_modules\\botpress\\bin\\botpress start`, it doesn't works.

I fixed this by:
- creating an `app.js` file containing `require(

[2017-04-08 00:51] slvnperron commented on #128
Merci d'avoir reporter l'erreur Antoine

Azure deployment is of utmost importance to us and I'll make sure to look into this issue over the weekend.

Thanks!

[2017-04-10 18:22] AlexGustafsson opened #131 "Subscribing to SIGINT events etc. handling CTRL+C in terminal"
#### The code
index.js:
[code]

#### The setup
Botpress: latest
Node: v7.7.4
OS: macOS 10.12.4-beta
Other: Using the Terminal app (default macOS command prompt)

#### The problem
When starting the project with `botpress start` and then trying to interrupt it with `CTRL+C` the `SIGINT` event is correctly thrown. However, the program terminates right after 'Initiating graceful shutdown' has been wri

[2017-04-11 20:40] hd719 commented on #40
Hello I am new to Open Source and I would like to contribute to this project.

-Thank you!

[2017-04-11 21:48] slvnperron commented on #40
@hd719 That's be awesome! please go ahead :)

Join us on Slack and ask us anything

[2017-04-12 15:45] hd719 commented on #40
Hey @slvnperron  quick question the `alert` feature should go in which file in the botpres repo?

[2017-04-18 15:20] paos opened #135 "routing in modules doesn't work when viewed with a browser"
when I add this example route in a module, it is only triggered with a curl test, but not if I browse directly with a browser:

[code]

So 'curl http://localhost:3000/api/botpress-analytics/ping' => Hello world

But if I browse to 'http://localhost:3000/api/botpress-analytics/ping' with chrome/firefox/etc. the route is not triggered.

[2017-04-19 00:10] hdicksonjr commented on #24
Where are you suggesting to 'display' them. Do you just want to log them?

[2017-04-19 00:19] slvnperron commented on #24
@hdicksonjr Yes!

[2017-04-19 17:55] killix opened #137 "Broid + Botpress = Love and Power"
Issam from Broid, here.
[Broid integrations](https://github.com/broidHQ/integrations) is providing a suite of Activity Streams 2 libraries for unified interface among a vast number of communication platforms, as of today 20 are supported. [broid-kit](https://github.com/broidHQ/broid-kit) is a framework to use all these integrations.

[broid-kit-botpress](https://github.com/broidHQ/broid-kit-botpre

[2017-04-23 02:15] #24 closed

[2017-04-24 16:42] xhuvom opened #138 "botpress start failed"
`09:40:51 - info: Starting botpress version 0.1.10
09:40:51 - debug: Loading middleware: hear
09:40:51 - error: [FATAL] An unhandled exception occured in your bot Error: bind EADDRINUSE null:3000
    at Object.exports._errnoException (util.js:1018:11)
    at exports._exceptionWithHostPort (util.js:1041:20)
    at cb (net.js:1327:16)
    at rr (cluster.js:625:14)
    at Worker.<anonymous> (cluster.

[2017-04-24 16:57] #138 closed

[2017-04-24 17:12] abdulamite commented on #122
Hi, I was looking through the project, and I was wondering how I can get involved. I am a new contributor and I would love to learn more about this community. This seems like a fairly easy task, and I think that I can pretty easily implement this feature. Could I possibly get some guidance as to how I may get involved?

[2017-04-24 17:57] slvnperron commented on #122
@abdulamite Thanks very much for proposing your help! Unfortunately this issue was fixed and we forgot to close it properly.

Please have a look at any other `for-new-contributors` issues and we'll help you get started!!

[2017-04-24 17:57] #122 closed

[2017-05-02 17:49] teddylun opened #142 "[botpress-messenger]Can't use ngrok for local development after Facebook updated to v2.9"
An error occured during communication with Facebook  Details: An error has been returned by Facebook API. Status: 400 (Bad Request) (#2200) Callback verification failed with the following errors: curl_errno = 56; curl_error = Received HTTP code 502 from proxy after CONNECT; HTTP Status Code = 502; HTTP Message = Private address

[2017-05-02 17:50] slvnperron commented on #142
Thanks Teddy,
has there been an official message from the Messenger team regarding this?

[2017-05-02 21:50] Jalepeno112 commented on #142
No official message from Messenger, but someone else has filed a bug report on Facebook about this.  Seems like it's affecting ngrok specifically: https://developers.facebook.com/bugs/1890829094504340/

[2017-05-03 10:59] sinahwz commented on #31
Can I pick this issue?

[2017-05-03 15:20] Jalepeno112 commented on #142
Issue has been fixed!  The bug on the Facebook side has been closed, and I just tested it on my bot and it's working fine.

[2017-05-03 18:04] slvnperron commented on #142
Excellent! Thanks for getting back

[2017-05-03 18:04] #142 closed

[2017-05-03 18:05] slvnperron commented on #31
Yes please!

[2017-05-04 07:57] sinahwz opened #143 "Lite Edition does not implement "tpress\extensions\lite\ServiceLocator.js". Please report this as a bug to the Botpress team."
When trying to run `build.sh`, this error is thrown after `node webpack.js --compile` is run.
The output of the shell file is as following:
"
Cleaning old build
Bundling app...
C:\wamp64\www\botpress\extensions\extensions.js:10
    throw new Error(`Lite Edition does not implement "${file}". Please report this as a bug to the Botpress team.`)
    ^

Error: Lite Edition does not implement "tpress\ex

[2017-05-05 00:33] thisisrai commented on #42
Has this issue been resolve? I have the same question as @chandan-pal if it's not resolved.

[2017-05-05 04:55] slvnperron commented on #42
@thisisrai the "click here" link is not working, it should link to an appropriate documentation section. You can trigger this view by navigating to a non-existing module url e.g. /modules/abcdef

[2017-05-05 16:42] thisisrai commented on #42
@slvnperron, I'm probably doing something wrong but when I'm running a bot on my local host, even /modules is not a valid path. Can you please give further advise?

[2017-05-05 17:27] slvnperron commented on #42
Sorry, in fact this won't work. What you need to do is:

1. Install any module & start the bot
2. In the UI you should see the link in the left panel
3. Don't click on it, stop the bot & uninstall the module
4. Start back the bot and click on the module

[2017-05-05 17:28] slvnperron commented on #42
In fact you can trigger this issue just by having a compile error in your module JSX. Create any new module and call an undefined function for example :)

[2017-05-05 18:46] thisisrai commented on #42
I tried recreating error for a bit but it just wouldn't happen lol. I went ahead and added a link to that anchor though - submitted a PR. Thank you so much for being so responsive, I'll look into more issues.

[2017-05-05 19:01] slvnperron commented on #42
Thanks Rai! Looking forward for the next contributions :) Lookout for the "for-new-contributors" tag. I'll try to help you as much as I can!

[2017-05-05 19:01] #42 closed

[2017-05-06 19:02] jcampbell05 opened #145 "Update method for Modules"
It would be great if a module could be upgraded from the UI, the botpress-messenger module recent broke so it would be nice to be able to one click upgrade ala wordpress (and even be notified when a module is out of date).

[2017-05-06 19:11] jcampbell05 opened #146 "Auto reload when code changes."
It would be great if botpress had some kind of watcher that would reload whenever it detects changes to it's sourcecode. This is something Django does which is super useful.

I can potentially implement this as a simple module if need be.

[2017-05-06 19:21] jcampbell05 opened #147 "Messenger system lacks FIFO order."
Given the following code:
[code]

The messages end up in any order, it would be great to back botpress with a Message Broker i.e RabbitMQ or a in-memory queue to guarantee FIFO order and scalability. I had an in memory queue like this in Bottr and was planning to open it up to other brokers.

We should look into celery since this can be implemented in any language and is well supported (you in the

[2017-05-06 21:12] slvnperron commented on #146
Duplication of #60

Would love to have this too!

[2017-05-06 21:12] #146 closed

[2017-05-06 22:51] jcampbell05 commented on #147
Promises work as of 0.2.0

[2017-05-07 17:57] jcampbell05 opened #148 "Allow matching function to be passed in."
It would be great if a function could be passed in as a matcher for a `hear` method not just for the properties of an object, this would make matchers to become portable :)

I used this a lot in Bottr to allow me to compose some more complex listeners i.e if this message has this attribute or that attribute.

[code]

[2017-05-11 01:34] karahug commented on #121
Is the issue that the modules in the module list should use the custom icon instead of material-icons, similar to what shows up in the sidebar?

[2017-05-13 13:24] negezor commented on #148
Perhaps you should use middleware?
https://docs.botpress.io/creating-your-bot/understanding-the-middlewares.html

[2017-05-14 03:39] slvnperron commented on #121
@karahug yes!

[2017-05-18 14:11] daehli opened #150 "Allow nested menu in persistentMenuItems"
I try to add a Nested menu in BotPress. With the UI it's impossible to add a NESTED menu. So I created a botfile-messenger.js to but all me config.

The file look like this.
[code]

Went a press __SAVE__ on the UI, Botpress return me this message:
**An error occurred during you were trying to save configuration: Error setting persistent menu An error has been returned by Facebook API. Status: 400

[2017-05-27 00:00] karahug opened #151 ""npm run compile" throws ModuleNotFoundError"
I'm running this on npm 4.6.1, node 6.10.3, Ubuntu 16.04.2 LTS. I ran `npm install` before running `npm run compile`.
The result of running `npm run compile`:
[code]

So far I've been working around the error by changing

[code]
to
[code]

[2017-05-27 20:01] slvnperron commented on #151
@karahug thanks. Could you open a PR for this change?

[2017-05-27 20:02] #121 closed

[2017-05-28 00:22] ajay2507 commented on #29
Can I take this change?. I should hide this heroes section based on any condition? It would be grateful if you explain this issue

[2017-05-29 01:04] injaan opened #152 "bp.db.kvs BUG"
//var target = "actions.onetwothree" // it works
    //var target = "actions.1-2-3" //it works

    var target = "actions.123" // it does not work
    bp.db.kvs.set(event.user.id, "value", target).then((res)=>{
      console.log(res)
    }).catch(err=>{
      console.log(err)
    })

above code saving following

"{"actions":[null,null,null,null,null,null,null,null,null,null,null,null,null,null,nul

[2017-05-29 21:51] slvnperron commented on #29
Hey @ajay2507 , yes of course you can pick this issue! The hero section should be hidden if specified in the botfile (maybe have a variable called `hideHeroSection` ?)

Let me know if this is not clear :)

Thanks!

[2017-05-29 23:47] #151 closed

[2017-05-30 10:53] daehli commented on #150
I but this Issue in the wrong botpress

[2017-05-30 10:53] #150 closed

[2017-05-30 20:06] ajay2507 commented on #29
okay thanks. I will let you know if I have any concern.

[2017-05-30 20:17] ajay2507 commented on #29
@slvnperron  As I am new to this project, In which file this hero section will be available? Is there any document to set up the project?

[2017-05-30 22:51] slvnperron commented on #29
@ajay2507 In this file: https://github.com/botpress/botpress/blob/d2f728c3df5b17d68ea107751d9294d7dd3a9480/src/web/components/Hero/index.jsx

There is no document on how to setup the project yet, maybe this could be the first thing you contribute when you can get the project running :) ?

Thanks!

[2017-05-30 23:10] ajay2507 commented on #29
@slvnperron  Thanks for your help. I will try to setup and will make the change. I will let u know once I have done changes.

[2017-06-06 00:05] rdricco commented on #67
Same here. Only when running on windows.

[2017-06-06 17:55] xhuvom opened #156 "TypeError: bot.start is not a function"
I am using node v8.0 on my system. After installing botpress and initiating my-bot, `bp start` execution fails with the following error:

`/usr/lib/node_modules/botpress/src/cli/start.js:45
  bot.start()
      ^
TypeError: bot.start is not a function
    at Command.module.exports (/usr/lib/node_modules/botpress/src/cli/start.js:45:7)
    at Command.listener (/usr/lib/node_modules/botpress/node_mod

[2017-06-06 17:59] slvnperron commented on #156
Thanks Abu, we'll look into that ASAP

—
Sylvain Perron

--- original message ---
On Tue, Jun 6, 2017 at 01:55 pm, <notifications@github.com> Abu Anas Shuvom wrote:

I am using node v8.0 on my system. After installing botpress and initiating my-bot, bp start
execution fails with the following error:
/usr/lib/node_modules/botpress/src/cli/start.js:45 bot.start() ^ TypeError: bot.start is not a func

[2017-06-06 18:10] xhuvom commented on #156
I have been using botpress with node v6.x quite a long without such issue. Today I have updated to node v8.0 and now hitting this problem. Also the same time Botpress 1.0 has been released. Trying to figure out where the problem is.

[2017-06-06 18:25] slvnperron commented on #156
@xhuvom Can you confirm the version of botpress (0.2.24, 0.2.25?, 1.0.0?) and your system info? thanks

[2017-06-06 18:28] slvnperron commented on #156
@xhuvom Can you try deleting `./node_modules` and re-install dependencies (npm i)? thanks

[2017-06-06 18:55] xhuvom commented on #156
executed `rm -rf node_modules && npm install` and then `sudo npm install -g botpress` now returns more error. Maybe messed with node versions.

`npm WARN deprecated nodemailer@2.7.2: All versions below 4.0.1 of Nodemailer are deprecated. See https://nodemailer.com/status/
/usr/local/bin/bp -> /usr/local/lib/node_modules/botpress/bin/botpress
/usr/local/bin/botpress -> /usr/local/lib/node_modules/b

[2017-06-06 19:22] slvnperron commented on #156
OK it really seems like SQLite has some issues installing on your linux machine. Can you check on SQLite's side if you can get it to install?
https://www.npmjs.com/package/sqlite3

Let me know if that solves your issue

(Botpress runs well on my machine with node 8, but using Mac)

—
Sylvain Perron

--- original message ---
On Tue, Jun 6, 2017 at 02:55 pm, <notifications@github.com> Abu Anas Shuvo

[2017-06-06 20:54] xhuvom commented on #156
Yes, with SQLite fresh install and upgrade it works fine. So many thanks for the support !!

[2017-06-06 20:54] #156 closed

[2017-06-07 20:38] rdricco opened #157 "Error installing Api.ai via GUI"
When I try to access api.ai configuration i got this error:

The module is not properly registered
It seems like you are trying to load a module that has not been registered. Please make sure the module is registered then restart the bot.

I'm using botpress 1.0.5. This is a new bot created now.

[2017-06-08 10:33] netalex commented on #48
it exist: [matheusmatos/botpress-rasa_nlu](https://github.com/matheusmatos/botpress-rasa_nlu)

[2017-06-13 07:07] netalex commented on #83
i would signal that those link on documentation are broken:
https://github.com/botpress/botpress#documentation

## Documentation

- [**Hello Human in 3 minutes** (start with this!)](https://docs.botpress.io/getting-started/hello-human-in-3-minutes.html)
- [Getting Started](https://docs.botpress.io/getting-started/)
- [How to create and manage Modules](https://docs.botpress.io/modules/)
- [Creating

[2017-06-14 15:05] markellisdev commented on #30
@slvnperron  May I take this on?

[2017-06-14 15:24] slvnperron commented on #30
Yes! Please go ahead

On Jun 14, 2017 11:05 AM, "markellisdev" <notifications@github.com> wrote:

[2017-06-19 19:00] slvnperron commented on #83
Fixed

[2017-06-19 19:00] #83 closed

[2017-06-20 02:17] slvnperron commented on #157
Thanks @rdricco , we fixed this issue in the latest version of Botpress (please update) :)

[2017-06-20 02:17] #157 closed

[2017-06-20 04:04] rdricco commented on #157
Already updated. Thank You ;)

[2017-06-24 13:52] gvdh opened #158 "response.match is not a function"
Hi everybody !

I'm trying to store multiple matching replies from the user in an array. By example : i put "potato" and "tomato" in my pattern, when the user reply "i like potato and tomato" i want to store potato and tomato in an array. Here is my code below
`const _ = require('lodash')

module.exports = function(bp) {

  bp.middlewares.load()

    bp.hear(/hello/i, (event, next) => {

    const

[2017-06-24 18:56] rdricco opened #159 "Link for deployment tutorial on welcome popup outdated"
The link for [deloyment tutorial on welcome popup](https://github.com/botpress/botpress/blob/master/src/web/components/Tour/index.jsx#L98) is outdated, Heroku and AWS are on different pages now.

[2017-06-24 21:36] slvnperron commented on #159
Thanks! Fixed, will be pushed in 1.0.10 :)

[2017-06-24 21:36] #159 closed

[2017-06-27 12:34] slvnperron commented on #158
It should be `response.text.match` I think
Please let me know if that works

[2017-06-27 13:15] gvdh commented on #158
It works !
Thank you so much ! 😄

[2017-06-27 13:29] slvnperron commented on #158
Glad it helped!

[2017-06-27 13:29] #158 closed

[2017-07-02 08:30] blazeu opened #161 "Registering middleware outside modules"
I tried running `bp.middlewares.register` inside index.js of a bot, the middleware shows up in the web UI, but it's not running.

[2017-07-02 16:34] tanmoy12 opened #162 "messenger templates not generating images"
image: `${process.env.BOT_BASE_URL}/san_francisco.jpg

in botpress-messenger template example. where do i keep the image actually?

[2017-07-04 16:05] durhailay commented on #40
I'd love to take this one on if no one is working on it?

[2017-07-06 06:14] slvnperron opened #167 "Splitting of content.yml into many files"
If `content.yml` is not present, we should look for a `content` folder and load all `.yml` files inside that folder as content and aggregate them together.

It should check for duplicated keys and throw if any is found upon bot start.

[2017-07-06 06:16] slvnperron commented on #162
BOT_BASE_URL is an environment variable you define to the public url of your bot, e.g. your ngrok hostname or heroku url.

`san_francisco.jpg` should be placed in `./static/san_fransisco.jpg`

[2017-07-06 06:16] #162 closed

[2017-07-06 06:16] slvnperron commented on #161
@blazeu Can you give more details and a snippet of code? thanks

[2017-07-06 06:20] slvnperron commented on #152
**Context:** This is because we're using lodash's `set` method, which considers `123` as an array index instead of a property name. We should try calling the set with a [`customizer`](https://lodash.com/docs/4.17.4#setWith)

**Workaround**: Provide an array instead of a string: `bp.db.kvs.set(event.user.id, 'value', ['actions', '123'])`

[2017-07-06 07:53] tobi418 commented on #152
Ok, thank you

[2017-07-06 14:51] blazeu commented on #161
I put this logger middleware for testing in the index.js of a bot.
As far as i can tell, it should ```console.log``` every incoming event, right? But it's not.

[code]

[2017-07-06 14:56] blazeu commented on #167
Maybe use the file name as a namespace so there's a little chance of duplicated keys.

For example if we call
```event.reply('#greetings.welcome')```
it will reply with the content of welcome key inside greetings.yml

Would love to do a pull request if you tell me which things to modify, etc.

[2017-07-07 01:40] slvnperron commented on #167
@blazeu Wonderful idea, love it!

Here's the main thing to modify: https://github.com/botpress/botpress/blob/master/src/umm/index.js#L79

Let me know if you need help, thanks for your help!

[2017-07-07 01:42] slvnperron commented on #161
@blazeu Yes this should in theory work, what happens if you make the `order: 1` ? I suspect an other middleware before swallow the event

[2017-07-07 01:42] slvnperron commented on #161
@blazeu Sorry I actually forgot that you need to reload the middleware:

`bp.middlewares.loadAll()`

[2017-07-07 04:27] blazeu commented on #161
It seems like the handler function **needs to implement ```next``` as the second parameter**, and yes i should call ```.load()``` (its not ```.loadAll```, i've read the docs) if i register a middleware outside of modules.

[code]

This seems like a bug, the code shouldn't fail silently.

[2017-07-07 06:28] blazeu commented on #167
There's this UMM API in
https://github.com/botpress/botpress/blob/master/src/server/secured.js#L172-L204

How should I handle that?

[2017-07-07 06:45] slvnperron commented on #167
For now let's leave out the API/UI, I think the only methods that need to change are getDocument() and saveDocument()

[2017-07-07 15:27] tanmoy12 opened #169 "npm install -g Botpress runs into error"
I'm using **node 8.1.3, npm 5.0.3**
npm install -g Botpress shows this error, I could not find a solution anywhere.
Message from terminal :

     npm WARN deprecated nodemailer@2.7.2: All versions below 4.0.1 of Nodemailer are deprecated.
     See https://nodemailer.com/status/
     npm ERR! code EINTEGRITY
     npm ERR! sha1-TLz5Zdi5AdGxAVy8f8QVquFX36o= integrity checksum failed when using sha1:

[2017-07-07 23:00] roccomuso opened #170 "Telegram channel should support image, action-button and choice"
Does it support telegram?

[2017-07-09 16:17] tanmoy12 commented on #169
@slvnperron any help would be appreciated, thanks.

[2017-07-10 07:11] northerncodemky opened #171 "More detail for first time contributors"
This is an awesome project and great for first time contributors but is a bit light on detail on how to get started as such in the readme. Proposing adding to the contributing.md to be something similar to [this guide](https://github.com/nayafia/contributing-template/blob/master/CONTRIBUTING-template.md) and linking to that from the contributing section of the readme.

[2017-07-10 08:15] slvnperron commented on #169
@tanmoy12 Seems like the download of the dependencies didn't work (corrupted). Have you tried doing it again?

[2017-07-10 08:41] northerncodemky commented on #40
@durhailay Hey are you actively working on this at the moment? If so I'll assign it to you.

[2017-07-11 03:06] slvnperron opened #173 "BubbleIQ:"
[Created automatically from Slack (BubbleIQ)]()

##
---

[2017-07-11 03:06] #173 closed

[2017-07-11 03:07] slvnperron opened #174 "BubbleIQ: Your environment has been"
[Created automatically from Slack (BubbleIQ)](https://Botpress.slack.com/archives/C3TQB8FBM/p1499742430064173?thread_ts=1499742429.064156&cid=C3TQB8FBM)

## Your environment has been
---

set up for using Node.js 6.11.0 (x64) and npm.

C:\Users\LivingRoom&gt;npm install -g botpress
npm ERR! Windows_NT 10.0.14393
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_m

[2017-07-11 03:10] slvnperron opened #175 "BubbleIQ: Bundling botpress takes a"
[Created automatically from Slack (BubbleIQ)](https://Botpress.slack.com/archives/C3TQB8FBM/p1499741065838196?thread_ts=1499741065.838158&cid=C3TQB8FBM)

## Bundling botpress takes a
---

really long time, is it just me? My storage is not a problem, I'm using an SSD

[2017-07-11 06:57] northerncodemky commented on #174
Looks like this could be fixed by using 32 bit node, a la npm/npm#15792

[2017-07-12 20:37] #171 closed

[2017-07-12 22:16] chasen-bettinger commented on #13
Is there anyone that can help me with this? I'm not sure how to approach this issue.

[2017-07-12 22:17] chasen-bettinger commented on #30
What is the status on this issue? Any way that I can help?

[2017-07-14 23:00] russellschmidt opened #176 "Create documentation for setting up a local dev environment"
I am new to the project and found getting my dev environment challenging and a bit different. It would be nice for new contributors to have the steps spelled out explicitly.

I am happy to take this on and will submit a PR today. I'm going to put the documentation at the end of the `CONTRIBUTING.md` file.

[2017-07-15 00:47] russellschmidt commented on #176
See PR 177 for the documentation

[2017-07-16 06:12] slvnperron opened #178 "Clean up dependencies"
There are a few dependencies that are leftovers that we can safely remove. Some other dependencies should be moved to dev-dependencies.

This will reduce install time and download size.

[2017-07-16 06:13] slvnperron opened #179 "Notifications and logs should be moved to database"
They are currently stored on the file system

[2017-07-19 12:03] m0rth1um commented on #170
Hi. I started a telegram module. But I don't have the time and motivation to finish it

https://github.com/m0rth1um/botpress-telegram

[2017-07-23 16:14] lesyk opened #180 "event.reply is not a function"
Hej, I am using broid-kit-botpress as middleware for botpress. I am getting messages from it, but event.reply does not work. Did anyone got such issue?

[2017-07-24 03:26] slvnperron commented on #180
Hey lesyk, as `broid-kit-botpress` is not created nor maintained by us (Botpress), it is highly probably that they haven't aded support for UMM (event.reply). In that case you'll have to refer to their documentation on how to send messages.

Thanks

[2017-07-24 03:26] #180 closed

[2017-07-26 13:01] SimonMuraya commented on #170
@m0rth1um its a good contribution, we can support it.

[2017-07-28 00:54] ramanadk commented on #127
even i face the same problem

[2017-07-28 00:54] ramanadk commented on #127
for  me i am getting the error:
ERR Cannot find module 'C:\botpress\my-bot\my-bot\node_modules\botpress'

[2017-07-30 09:24] smshuja opened #182 "Pass the context to the modules."
Passing context to the modules will give access to the router. I was able to use the subViews but Navigating between the views wouldn't work without access to the router.

I can send a PR if you think its a useful feature.

[2017-08-04 12:50] hugojosefson commented on #182
Is this the same issue I found? Please try if this helps: https://github.com/botpress/botpress/pull/183

[2017-08-04 13:18] hugojosefson commented on #60
I have used https://www.npmjs.com/package/piping before, with great success in server applications.

Maybe that could work here too? Perhaps its use needs to be integrated with, or replace, the current handling of worker process.

[2017-08-05 13:29] hugojosefson commented on #60
Looking into this now.

[2017-08-06 00:54] hugojosefson commented on #60
Implemented. Now waiting for review on #187, which should fix this.

[2017-08-06 07:56] smshuja commented on #182
@hugojosefson nope. This is due to how the modules are rendered. I understand its done this way to avoid breaking the main app from an error in the module. This component can be passed in a context wrapper to pass the router to the modules.

[Injected](https://github.com/botpress/botpress/blob/10877533c362b7de14ffb857918043c6331df875/src/web/components/Injected/index.jsx#L44)

[2017-08-06 08:15] hugojosefson commented on #182
Ah, thanks for clarifying @smshuja :)

[2017-08-07 05:58] azeemhassni opened #190 "botpress install command always fail"
Hi,

When I try to install a module using the command-line or GUI it fails on GUI I don't get any feedback but command-line says.

for example when I run
`$ botpress install messenger`

I get the following output.

[code]

[2017-08-07 06:02] slvnperron commented on #190
Hi, does it also fail if you use `npm install botpress-messenger -S` ?

[2017-08-07 09:16] azeemhassni commented on #190
@slvnperron here the output for `npm install botpress-messenger --save-dev`

[code]

[2017-08-07 09:45] slvnperron commented on #190
@azeemhassni Thank you. Which version of NodeJS, NPM and OS do you have installed?

[2017-08-07 10:22] azeemhassni commented on #190
Node: 7.4.0
NPM:  5.3.0
OS   : Ubuntu 16.04.1 LTS `x86_64`

[2017-08-08 12:03] devkiran commented on #190
I have the same issue while installing the Botpress messenger plugin
NODE: v8.2.1
NPM: 5.3.0

[2017-08-11 14:31] azeemhassni commented on #190
Any update on this?

_Sent from my Motorola XT1254 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-11 14:36] slvnperron commented on #190
@azeemhassni Sorry, we've tried to replicate this issue but couldn't. Can you try using `sudo` or installing an other version of `botpress-messenger`? It seems to be related to a library that botpress uses (sqlite).

[2017-08-12 12:11] zhuiks commented on #190
I figured out that it's something with sqlite3 npm package and not connected with botpress or botpress-messenger
Steps to reproduce:
1. Init new project in empty dir with npm init
2. Install sqlite3 package localy with npm install sqlite3
3. Trying to install any other package gives the same initial error

npm -v: 5.3.0
node -v: 8.1.2
Ubuntu 16.04.2 x64
sqlite3: 3.1.9

[2017-08-12 12:45] jacob-cross99 opened #191 "Custom SSL Support"
I need a way to specify a CA-Bundle, Cert, and SSL key for my bot. I'm not trying to pay for a Digital Ocean Load Balancer nor host on Heroku. Just would like to setup an express/https server and use my certificate.

[2017-08-12 19:37] slvnperron commented on #191
Hi Jacob,

Simply set the SSL server on your server with Nginx as a reverse proxy. This is how we host all our bots on AWS.

[2017-08-12 19:37] #191 closed

[2017-08-14 12:57] abelosorio commented on #190
@zhuiks' solution works for me.

[2017-08-14 14:55] jacob-cross99 commented on #191
I was having trouble with NGINX, so I'm using Node-http-proxy in the
index.js file. Would it be okay if I implement it as a config option? Or
would it be better to make a module for it? Thanks!

On Sat, Aug 12, 2017 at 12:37 PM, Sylvain Perron <notifications@github.com>
wrote:

[2017-08-14 22:33] jloveric opened #192 "fuzzy phrases"
Is it possible to do fuzzy phrase matching in botpress?  For example, if the phrase the bot recognizes is "what is your age" and you type "your age", is there a way to get it to recognize that "your age" best matches the question "what is your age"?  Or if the user spells things wrong, like "what is your agee" that it will match with "what is your age?"

Thanks,

John

[2017-08-15 06:02] rainmakerho opened #193 "LINE connector"
It would be great to have LINE connector as well, thanks.

[2017-08-16 18:45] scniro opened #194 "migrate to react-codemirror2"
react-codemirror has major [outstanding issues](https://github.com/JedWatson/react-codemirror/issues) and many users including myself suspect this package has been abandoned. I authored [react-codemirror2](https://github.com/scniro/react-codemirror2) and plan to actively maintain this as a successor moving forward. I encourage you try the new package in your project. Likewise, feel free to open up

[2017-08-16 19:07] jfrant commented on #194
Thanks!

[2017-08-21 04:50] wlisrausr opened #195 "Missing Foundamentals Link"
The foundamentals link in https://github.com/botpress/botpress/blob/master/docs/starting/setup.md is missing. Can I make a PR related to this one? @slvnperron

[2017-08-21 05:10] wlisrausr commented on #16
Could you please give more details about this? I would love to take it if I could @slvnperron

[2017-08-21 12:43] Glassback commented on #190
I have the same problem...  @zhuiks How can I install sqlite3@3.1.8 before installing other dependencies?

[2017-08-21 17:57] slvnperron commented on #190
@Glassback `sudo npm install --save sqlite3`

[2017-08-21 19:19] zhuiks commented on #190
@Glassback actually  `sudo npm install --save sqlite3@3.1.8` to install different than the latest version

[2017-08-21 20:42] slvnperron opened #196 "Change default logger to database instead of file"
We also need to make sure that circular JSON is taken into account when formatting the logs

[2017-08-23 16:29] slvnperron opened #197 "[Content Manager] Customize the table for a category"
Ability to add / remove / customize the table columns for a specific category

[From Slack]:: @tguidon

[2017-08-23 16:30] slvnperron commented on #193
Thanks @rainmakerho . We'll update this thread when Line is available.

[2017-08-23 16:34] slvnperron commented on #192
Hi @jloveric , this can be done using NLP. See botpress-api.ai or botpress-wit
Thanks!

[2017-08-23 16:34] #192 closed

[2017-08-23 16:36] slvnperron commented on #182
@smshuja A PR for this would be welcome. Thanks!

[2017-08-25 19:36] ash02 commented on #152
Hi, I'm new to open source and I wanted to take up this issue.
Could you please guide me on how to get started?

[2017-08-27 19:23] #195 closed

[2017-08-28 19:03] DenisGorbachev opened #200 "Can't send hashtags"
First off, thanks for amazing framework! I've used Botkit and Microsoft Bot Framework before, Botpress is much better :+1:

However, I can't send hashtags in the messages.

content.yml:
[code]

index.js:
[code]

The "#Bitcoin" part gets chopped off. It happens because it's treated as comment by YAML parser, which runs after Mustache promptly replaces ```{{{title}}}``` with actual title.

Suggested

[2017-08-28 19:14] slvnperron commented on #200
Thanks Denis, totally agree with the fix! We should also actually only replace the mustache for the bloc currently in use (which is not the case atm).

In the mean time, you could use `"{{{title}}}"` (i.e. double quotes)

A PR would be awesome :)

[2017-08-29 07:49] DenisGorbachev commented on #200
@slvnperron thanks for suggesting double quotes - it worked!

Can't work on a PR right now due to a deadline, but will keep it in mind for future)

[2017-08-30 21:41] jroo opened #202 "[Content Manager] Unable to edit or delete existing content under the "All" content type list"
**Version:** 1.0.23

**Scenario 1:** Click on an item with "All" categories option selected.
**Result**: Instead of a form to update a piece of content appearing, nothing happens for the user and the following error appears in the console:

![image](https://user-images.githubusercontent.com/49064/29896137-a6f57726-8d90-11e7-94ed-a4f268807199.png)

After this error, the user is unable to click on c

[2017-08-31 10:44] lesyk commented on #85
Does this help?

[code]

[2017-09-04 00:12] e-beach commented on #152
@ash02 How new are you? Myself, I'm coming in cold from https://github.com/MunGell/awesome-for-beginners,  But here's what I suggest you do:

0. Do things on the [contributing guide].(https://github.com/botpress/botpress/blob/master/CONTRIBUTING.md)
1. fork the project.
2. Clone and pop it open in visual studio code and look for wherever `bp.dp.kvs.set` might be defined
3. Read through https://lod

[2017-09-04 07:28] pixelhijack commented on #190
I have just the same results, can't use botpress at all
1. npm installing botpress messenger failing on the same just like for @azeemhassni (react-codemirror)
2. rm -rf directory, npm cache clear, reinstall with botpress, then as a workaround, sudo npm installing sqlite before any other dependencies also fails, 3.1.8 version can't be found, latest failing with this:

[code]

node: 8.4.0
npm: 5.3.0

[2017-09-04 13:38] ash02 commented on #152
@e-beach This would be my first PR.Thank you so much for your help.
I'll get started right way.And I was thinking about converting the value to string.
Thanks for the tip.

[2017-09-05 05:41] e-beach commented on #190
@pixelhijack So you're saying the command `npm install sqllit3@3.1.8` fails?

[2017-09-05 05:58] e-beach commented on #190
This sqllite issue at hand is https://github.com/mapbox/node-sqlite3/issues/865. This is why you should always tie your dependencies to an exact version.

[2017-09-05 12:11] pixelhijack commented on #190
@e-beach yes, `npm install sqlite3@3.1.8` fails with the same error below, so the problem is not with botpress, but because of this dependency i cannot add messenger to botpress, therefore using it (`npm ls` is pretty cool though, thanks for the hint!)

[code]

[2017-09-05 14:27] e-beach commented on #190
@pixelhijack I got the error you're getting but I believe just running the `npm install sqlite3@3.1.8` a second time worked for me. The error is very weird if you look at the code in `noOpts.js` hat causes the problem.

[2017-09-05 14:50] pixelhijack commented on #190
@e-beach thanks, subsequent run of `npm install sqlite3@3.1.8` results in a successful install which is weird _(imagine your npm driven space shuttle in 2050 when falling and you desperately hit npm install again and pray to work)_. `npm install botpress-messenger` also works after this, good workaround!

[2017-09-05 16:39] jroo opened #205 "[Content Manager] Editing content gives no indication that content has been saved"
**Version:** 1.0.23

**Scenario:**
- Select an item in the content manager to bring up the form to edit item.
- Change content of item
- Click 'submit'

**Result:** Nothing happens. Nothing in the console indicates an error. When going back and checking content later, it appears the content has saved but an admin user has no idea that it saved successfully.

[2017-09-09 17:22] #190 closed

[2017-09-15 16:36] blazeu commented on #193
Hi, I'm currently developing it, probably will create a github repo in a few days!

[2017-09-19 01:32] VishalWaman opened #208 "Chat bot platform like chatfuel"
We are looking for Tech Stack for developing a Chat Bot Platform like Chatfuel,
Can anyone help in suggesting Tech Stack for this, or some package ?
How can we use Botpress for this ?

[2017-09-19 01:39] slvnperron commented on #208
Hi, please reach out to me at sylvain@botpress.io

[2017-09-19 01:39] #208 closed

[2017-09-27 23:56] jsalwen opened #210 "Windows - Dev Environment"
I am trying to setup the dev environment in order to be a contributor, but I do development in Windows.

I see in the doco, [Setting up Your Dev Environment](https://github.com/botpress/botpress/blob/master/CONTRIBUTING.md#setting-up-your-local-dev-environment), that is is geared towards OSX.

I can take a crack at getting the build to work on Windows. The issues I see:
* `build.sh` - doesn't work

[2017-09-28 01:09] slvnperron commented on #210
I think it would be better to rewrite the build.sh in node since it's going to ease future changes (you won't have to test both). That's be awesome if you could make that change.

An other solution might be to look at tools like cygwin to develop on windows?

[2017-09-28 18:13] jsalwen commented on #210
@slvnperron I'll take it on. I started yesterday, but I put on the brakes until I checked in.

I'm going to go with the `build.js` approach. I will need help testing, since not all linux commands directly translate.

thx,
Josh

[2017-09-28 20:11] jsalwen commented on #210
@slvnperron I am getting an error when I run:
[code]

Error:
[code]

Did I miss a step during setup?

[2017-09-28 20:12] jsalwen commented on #143
I'm getting the same issue in Windows. I'm working on #210

[2017-09-29 01:36] slvnperron commented on #210
I think this is related to windows and paths manipulation. Have a look at:

https://github.com/botpress/botpress/blob/master/extensions/extensions-plugin.js
and https://github.com/botpress/botpress/blob/master/extensions/extensions.js

[2017-09-29 11:27] jbourassa opened #211 "Graceful shutdown / improved resilience"
It is my understanding that messages in botpress are queued in-memory, which means that some messages can be dropped if the bot crashes or shutdown. I'm assuming that changing that design decision is not going to be a walk in the park, but I'm wondering if we could implement graceful shutdown?

I'm thinking that botpress could respond to `SIGINT` and do the following, in that order:
- Stop accepti

[2017-09-29 11:29] VishalWaman opened #212 "Tech Stack for developing a Chat Bot Platform like Chatfuel"
We are looking for Tech Stack for developing a Chat Bot Platform like Chatfuel,
Can anyone help in suggesting Tech Stack for this, or some package ?

How can we use BotPress  for this ?

[2017-09-29 15:26] slvnperron commented on #212
Botpress can't be used for building a chat platform like Chatfuel because of it's license (AGPL) unless the platform itself is made open-source under AGPL.

[2017-09-29 15:26] #212 closed

[2017-09-29 15:34] slvnperron commented on #211
Botpress community is queuing in memory.
Botpress Enterprise – which hopefully will see the day in this project – will queue messages in Redis.

This version of the Enterprise edition is not quite ready (we're working on a major release, but will essentially enable a distributed architecture.

[2017-09-29 17:08] jsalwen commented on #210
@slvnperron you are correct. thanks for the guidance.

[2017-09-29 19:41] slvnperron commented on #194
Closing as we're not using codemirror

[2017-09-29 19:41] #194 closed

[2017-09-29 19:42] jsalwen commented on #210
@slvnperron I resolved the path issues in `extensions/extensions-plugin.js` and `extensions/extensions.js`
I am now running into a new set of errors in the webpack compile

[code]

any suggestions on where to look? I'm guessing in `webpack.js`

[2017-09-29 19:42] #202 closed

[2017-09-29 19:42] #205 closed

[2017-09-29 19:45] #137 closed

[2017-09-29 19:45] #174 closed

[2017-09-29 19:45] #175 closed

[2017-09-29 19:56] slvnperron commented on #210
I think this is due to your fix or perhaps windows, it is looking in `extensions/enterprise/pro` instead of looking at `lite`

[2017-09-29 20:09] scniro commented on #194
@slvnperron is that new? I saw it in your deps [right here](https://github.com/botpress/botpress/blob/master/package.json#L39) (why I opened this)

[2017-09-29 21:10] jsalwen commented on #210
@slvnperron
@patrickguinness is testing on OSX and I'm testing on Windows. The issue is related to babel.

The path in the error (`/extensions/enterprise/pro`) is from: `.babelrc`

turns out is is because I ran the unit tests, so my `BABEL_ENV=tests` was still set. Once I removed that, no more error!

[2017-09-29 22:10] jsalwen commented on #210
@slvnperron fyi, we have working code that we are testing in OSX and windows. After we test, I will submit a PR, and then we will need you all to test the Copy Email Templates, since that only happens for Pro and Ultimate versions.

https://github.com/jsalwen/botpress/tree/issue-210-native-node-build

[2017-10-02 22:40] apple9220 commented on #161
hi, slvnperron.
How can I start server from http to https?

[2017-10-03 00:37] hd719 commented on #178
Hey @slvnperron I don't mind working on this, but do you know what dependencies I should remove/move to dev-dependencies??

Thanks.

[2017-10-03 15:27] ricardovsilva commented on #91
@slvnperron can you post your `bin/botpress` code? I'm struggling there to debug botpress.

[2017-10-03 16:06] slvnperron commented on #91
@ricardovsilva Are you trying to debug the botpress core or a botpress bot?

Here's how to debug a node process: https://nodejs.org/api/debugger.html

[2017-10-03 16:08] slvnperron commented on #91
You modify your local botpress (i.e. the one in your bot's node_modules/botpress/bin)
[code]

[2017-10-03 16:12] ricardovsilva commented on #91
@slvnperron botpress bot. Just for record, for other people struggling with that also. I achieved a great node debug using [NIM chrome extension](https://chrome.google.com/webstore/detail/nodejs-v8-inspector-manag/gnhhdgbaldcilmgcpfddgdbkhjohddkj) and starting process on vs code using F5.

[2017-10-03 19:08] slvnperron commented on #178
Hey, I think this is in fact the job that needs to be done, it is finding which dependencies are not being used or which dependency is only use in the UI (which should be moved from `dependencies` to `devDependencies`).

[2017-10-04 18:46] ofelt commented on #85
Oh didn't saw this issue before I fixed it, I had the same need so I did a [pull request](https://github.com/botpress/botpress/pull/221), the feature is available in botpress 1.1.2. Check the [docs](https://botpress.io/docs/foundamentals/events.html#bphearcondition-handler---void) to see how ^^
If it suits your need I think this issue can be closed :)

[2017-10-04 19:53] slvnperron commented on #85
Closing as Olivier fixed this :)

[2017-10-04 19:53] #85 closed

[2017-10-05 16:17] arcticbarra commented on #85
Thanks!

[2017-10-08 17:09] bishoymelek commented on #91
@ricardovsilva  can you please tell me the steps exactly ? because I tried what you say but don't really understand the extension job with vs

[2017-10-08 22:21] bishoymelek commented on #60
hi @hugojosefson can you please help me use what you implemented so i can use nodemon with botpress ? is there steps to do or something ? thank you

[2017-10-09 05:10] hugojosefson commented on #60
@bishoymelek Sure, I'll look into it!

[2017-10-09 15:44] #60 closed

[2017-10-09 16:27] hugojosefson commented on #60
@bishoymelek It's merged, and will be released by as `botpress@1.2` - via https://github.com/botpress/botpress/pull/187#issuecomment-335197268

BTW @slvnperron Issue #60 can be closed now too, because it was fixed by PR #187.

[2017-10-09 16:39] hugojosefson opened #225 "Split into botpress-core, botpress-cli"
This issue is to track splitting current repo into `botpress-cli` and `botpress-core`.

- `botpress-core` - Just the packages needed to **run** a bot. Used in production, and as lightweight as possible.
- `botpress-cli` - Depends on `botpress-core`, and adds command-line util(s) used during development. May contain more and heavier dependencies.

See also https://github.com/botpress/botpress/pull/

[2017-10-09 16:45] hugojosefson commented on #225
@slvnperron Did I understand correctly so far?

Also, can I help with the splitting?

I was thinking to create two new repos: `botpress-{core,cli}`. I could set them up in my github account, forked from `botpress/botpress` so git ~~blame~~ annotate history is preserved. Then if you like the results later, you could push them to repos here on https://github.com/botpress...

What do you think? Any t

[2017-10-09 17:23] ricardovsilva commented on #91
@bishoymelek, when you run code with debug or inspect, in fact, node open two ports to any debugger attach to it.
When you press F5 on vs code, it run's the project with --inspect flag, ports for debug are open, then vs attach to one of that ports. But, for some reason, vscode is a little buggy to debug nodejs codes, specially with botpress.

[NIM chrome extension](https://chrome.google.com/websto

[2017-10-09 17:41] slvnperron commented on #225
Thanks for your initiative @hugojosefson !

I think it would be best to preserve the actual repository for `botpress-core`, and to create a `botpress-cli` for the CLI. If you want me to I can create the repo and give you the admin access to it?!

Thanks!!

[2017-10-09 17:42] slvnperron commented on #225
Oh also I think that `botpress start` could be removed and be called `botpress debug` instead? `start` doesn't do anything except `npm start` really, which makes it a pain for `yarn` users :)

[2017-10-09 17:44] ricardovsilva commented on #225
@hugojosefson in my opinion, botpress-core should works more like a lib and less like a program. At the moment I was only following discussion about split of botpress.
Imagine a cenario where dev can use all bot capability (to send and respond to messages), but want to use that inside their own program or system, for example to create multiple bots for different clients.

[2017-10-09 17:48] hugojosefson commented on #225
Sure, thanks @slvnperron . Good call on the `npm start` thing too.

@ricardovsilva Thanks for chiming in! I am totally with you on that. I have always wanted it to be a library that I depend on. That was a "problem" I had in the beginning with Botpress, that I had to run it via the `botpress start` program, and couldn't just add it as a lib, á la `express`. Only after looking through the source co

[2017-10-09 17:51] hugojosefson commented on #225
BTW, @slvnperron, I recently came across [npm-run-all](https://www.npmjs.com/package/npm-run-all) which is good for nested run-scripts. Uses `yarn` or `npm` depending on how the user ran the first run-script.

(Maybe not relevant for Botpress, but good for many other cases where `npm` and `yarn` clash in run-scripts.)

[2017-10-09 18:00] hugojosefson commented on #225
When looking through dependencies to delete in `botpress-core/package.json`, these deps are not referenced anywhere in the git repo:

[code]

Are they simply forgotten here after for example extracting modules out of botpress?

[2017-10-09 18:00] ricardovsilva commented on #225
What I really see as botpress core:
- Capability to create bot, imagine each bot as object
- Capability of bot to receive message, do some process, then return an "answer" (I don't know if answer is a good name)

Benefits that I see now of that approach:
- We can create a lot of extensions, in independent packages, to botpress. For example, a mysql reader or an api reader (instead of yml).
- We ca

[2017-10-09 18:13] ricardovsilva commented on #211
@slvnperron what is your opinion about just abstract incoming and outcoming process? I mean, botpress can still work, by default, in the way that it's work today. But would be awesome if botpress empower developers to improve incoming and outcoming process (such as adding messages to a queue menager)

[2017-10-09 18:46] hugojosefson commented on #225
Thanks @ricardovsilva, I'll keep that in mind when looking into ways to split things out.

[2017-10-10 14:07] slvnperron commented on #225
Thanks @ricardovsilva and @hugojosefson . These are all valid points. And thanks Hugo for the `npm-run-all`, indeed very cool!

The references are part of the closed-source `Botpress Pro / Botpress Enterprise`, which is offering more features to enterprises and add a bit of complexity to botpress. The fact that their dependencies are listed in the community edition of botpress is an issue. @hugojo

[2017-10-10 14:25] slvnperron commented on #211
@ricardovsilva Good point. Let me think about it and come back to you.

[2017-10-10 16:24] ricardovsilva commented on #200
I want to know your opinions. But for me, this is not a problem at all and issue can be closed, it's a characteristic of yaml and it's well documented.

[2017-10-10 16:26] ricardovsilva commented on #196
And it would be awesome if devs could use also external services to log (like sentry.io). I think that log layer should also be abstracted to a default behavior that can be overriden by other devs. What do you think about this @slvnperron ?

[2017-10-10 16:41] hugojosefson commented on #225
@slvnperron Okay, that explains it then :)

In the long run, I think keeping the open-source Botpress and the Botpress Enterprise clean in their own projects is the way to go. So a separate `package.json` and `yarn.lock` for the Botpress Enterprise, which may be a fork of open-source Botpress, or it may pull in `botpress-core` as a dependency. Either way, only the dependencies needed for open-sour

[2017-10-10 18:25] slvnperron commented on #225
@hugojosefson Totally agreed with all your points! Thanks for the advices :)

[2017-10-10 18:27] slvnperron commented on #196
@ricardovsilva Good point, definitely there should be a way to specify where logs are logged to depending on the levels

[2017-10-10 18:47] slvnperron commented on #200
Sure thing, agreed.

[2017-10-11 13:58] ricardovsilva commented on #179
Isn't that issue duplicated with https://github.com/botpress/botpress/issues/196?

[2017-10-11 14:01] ricardovsilva commented on #170
@m0rth1um, can you point me the docs to integrate with botpress? I think that integrates with telegram API isn't hard at all. Have you had any difficulty with which I should have more attention?

[2017-10-11 14:03] m0rth1um commented on #170
@ricardovsilva What do you mean?
I looked at other botpress modules (namely Slack and FB Messenger) and https://core.telegram.org/bots/api

[2017-10-11 14:05] ricardovsilva commented on #170
I just wanted a started point, which you already give me, ty :)

[2017-10-11 14:07] ricardovsilva commented on #46
About user data, which data you have in mind? And why store it? Should it be responsability of botpress? Can you explain your idea?

[2017-10-11 19:36] yoganandaraol commented on #123
[botpress]       ERR Cannot find module 'E:\BotPress\MyConf\bot\node_modules\botpress'
[botpress]       ERR Error: Cannot find module 'E:\BotPress\MyConf\bot\node_modules\botpress'
    at Function.Module._resolveFilename (module.js:440:15)
    at Function.Module._load (module.js:388:25)
    at Module.require (module.js:468:17)
    at require (internal/module.js:20:19)
    at Command.module.exports

[2017-10-12 09:59] jbourassa opened #228 "kvs unique constraint failing"
We have cases of `kvs.set` failing with unique constraint error popping up as _errorUnhandled Rejection in Promise_. When insert fails, the code should retry with update, so I'm surprised to see this in our log; looks like something isn't working as expected?

Anyways. Since the table is quite simple and botpress supports sqlite and recent postgres only, why not use some sort of UPSERT logic? Eg:

[2017-10-13 19:54] VishalWaman opened #229 "Botpress for platform"
We are looking for Tech Stack for developing a Chat Bot Platform like chatfuel

How can we use Botpress for this ?

[2017-10-13 20:27] slvnperron commented on #229
Can you email me at sylvain@botpress.io ?

[2017-10-13 20:28] slvnperron commented on #229
(Closing this issue, let's continue over mail)

[2017-10-13 20:28] #229 closed

[2017-10-15 07:37] chetanmekha opened #230 "botpress init not working on windows 10."
Hello Team,
my system configuration is,
node version - v7.4.0
npm version - 4.0.5
OS - Windows 10 with 64 bit version

I tried  to install botpress with cli command - **npm install botpress -g / npm install -g botpress** after doing that when try to run "**botpress init**" it is giving me below error.

botpress : The term 'botpress' is not recognized as the name of a cmdlet, function, script file,

[2017-10-15 08:32] chetanmekha commented on #230
Resolved by me. I copied botpress.cmd and bp.cmd from "C:\Users\Your user name\AppData\Roaming\npm" and pest it inside folder where I want to create new bot. and run the below command from that folder,
1) botpress init - add the required data.
2) bp start - botpress started on local port - 3000

[2017-10-15 08:32] #230 closed

[2017-10-16 14:09] ricardovsilva commented on #230
@chetanmekha, I tried in my notebook with windows 10, and there is working as expected. Just ran:
[code]

[2017-10-18 19:23] PeterSprague commented on #169
I'm also getting this error.  Can't start first bot build due to errors.

$ sudo npm install -g botpress
[sudo] password for pms:
npm WARN deprecated nodemailer@2.7.2: All versions below 4.0.1 of Nodemailer are deprecated. See https://nodemailer.com/status/
npm WARN deprecated email-templates@2.7.1: 📫  Please upgrade to v3.0.9 and read the breaking changes at https://github.com/niftylettuce/email-

[2017-10-18 23:44] PeterSprague commented on #169
Suspect the package.json devDependencies -> "react":"^15.3.1" is mismatched to react-codemirror dependency.

Tried to direct install to test:
$ sudo npm install -g react-codemirror
/usr/lib
├── UNMET PEER DEPENDENCY react@>=15.5 <16
├─┬ react-codemirror@1.0.0
│ ├── classnames@2.2.5
│ ├── codemirror@5.30.0
│ ├─┬ create-react-class@15.6.2
│ │ ├─┬ fbjs@0.8.16
│ │ │ ├── core-js@1.2.7
│ │ │ ├─┬ isomorp

[2017-10-19 07:47] absolux commented on #225
Hello Team,

First, you do a great job with botpress, you deserve a :+1:

I'm totally new to Botpress, but I want to add, to this discussion, that the frontend part should also have a separate repo like `botpress-studio`. Then, the CLI module initializes new projects and starts workers, the Studio monitors each or all workers, and the Core module provide only the API to interact with the bot.

[2017-10-19 18:02] absolux opened #233 "Google's universal tracker !!!"
hello,

Why do you use a Google's analytics tracker within the stats module ?

[2017-10-19 18:28] slvnperron commented on #233
Hi, we're using Google Analytics to know better how people use Botpress and to know where to focus our future efforts.

If that's an issue for you, you can easily opt out of all stats by setting `optOutStats: true` in your botfile.

[2017-10-19 18:29] #233 closed

[2017-10-19 18:31] slvnperron commented on #228
Thanks Jimmy! Yes, we'd love a PR :)

[2017-10-20 11:12] blokhin opened #234 "Twitter connector?"
Dear Dany, Sylvain, Daehli,

is there any Twitter integration known?
Or I would have to write this layer on my own?

(my apologies for a probable off-topic)

[2017-10-20 13:34] slvnperron commented on #234
Hey Evgeny, thanks for asking. We currently don't have a Twitter connector but if you're willing to write this on your own and make it open-source, we'd love to help you out. I'm closing this issue but please feel free to reach me at sylvain@botpress.io

Thanks!

[2017-10-20 13:34] #234 closed

[2017-10-23 17:22] #228 closed

[2017-10-31 05:24] amexperts opened #242 "command not found"
Hello,
I have just installed botpress on mac os x. But any command I use such as `botpress init botname` results in error botpress not found.
Any ideas? Thanks.

Using node: 8.6.0
npm: 5.3.0
mac osx

[2017-10-31 12:44] Anima-t3d commented on #242
Did you run `npm install -g botpress` and `botpress --version` successfully? After that `botpress init name-of-your-bot` then `cd name-of-your-bot` and run `botpress start`

Seems to me that your botpress didn't even install properly.

[2017-10-31 14:55] Marcosul opened #243 "error: Could not fetch modules"
Hello,

I cloned a botpress project to my machine, but all the modules are missing.

Here is the log:

12:43:53 - info: Creating data directory: /var/www/anglobc-bot/data
12:43:53 - info: Creating data directory: /var/www/anglobc-bot/modules_config
12:43:53 - info: Starting botpress version 1.1.2
12:43:56 - info: Loaded botpress-broadcast, version 2.0.10
12:43:56 - info: Loaded botpress-hitl, vers

[2017-10-31 15:04] slvnperron opened #244 "Content Management throws an error when content has double quotes (")"

[2017-10-31 15:09] slvnperron commented on #243
Hey @Marcosul , is [this link](https://s3.amazonaws.com/botpress-io/all-modules.json) working for you?

Thanks

[2017-10-31 15:15] Marcosul commented on #243
Hey @slvnperron ,  this link is a download file for me.

[2017-10-31 18:16] slvnperron commented on #243
@Marcosul yes, that's the link that Botpress is using to fetch the modules. I was just wondering if your firewall was blocking it

[2017-10-31 20:02] Marcosul commented on #243
@slvnperron , the problem in the new local projects. I believe it is some permission problem in the file, because when I create a new project from the local copy ($ cp -a project) of another one in which a module screen works, it fine.

Any Ideas?

[2017-11-01 13:56] slvnperron commented on #243
@Marcosul Yes, write permission should be granted for the bot's `dataDir` (specified in botfile) otherwise that will fail. Perhaps try with `chmod -R +rw <dataDir>`

[2017-11-07 23:43] michaelulin opened #245 "SSL issue with Heroku and Postgres"
After deploying my bot to Heroku, setting up a Heroku postgres database and configuring the environment variables, I receive the following error (I've hidden the database credentials):

 `2017-11-07T23:33:56+00:00 app[postgres.985]: [DATABASE] [5-1]  sql_error_code = 28000 FATAL:  no pg_hba.conf entry for host "IPADDRESS", user "USERID", database "DATABASE", SSL off

2017-11-07T23:33:56.166116+00:

[2017-11-08 00:00] michaelulin commented on #245
I was able to get this to work by appending "?ssl=true" to the connection string in the botfile.

[2017-11-08 00:00] #245 closed

[2017-11-09 08:20] Visovsiouk opened #246 "YAMLException: bad indentation of a sequence entry in examples"
I'm trying to use your Messenger examples (e.g. https://botpress.io/examples/fb_send_list), but they all throw an error inside `content.yml` :

` YAMLException: bad indentation of a sequence entry at line x, column y:`

This error references lines in `loader.js` inside the `js-yaml` module:

`at generateError (...\node_modules\js-yaml\lib\js-yaml\loader.js:165:10)
`

In the examle URL the error po

[2017-11-13 14:46] kalintush opened #247 "Error when starting botpress"
Make sure these checkboxes are checked before raising an issue, thank you!

- [X] Check that you are using node version >= `6.5`
- [X] Search the [documentation](https://botpress.io/docs)

Please also fill in these fields:

---

### Botpress version: `1.1.10`

Hi I've installed botpress and tried to create a bot and start it I've used the steps in the documentation and finally, I'm receiving this

[2017-11-13 14:52] kalintush commented on #247
Issue hsa been solved using sudo

[2017-11-13 14:52] #247 closed

[2017-11-14 04:19] bibinbalakrishnan commented on #169
Getting the same error

npm ERR! notsup Unsupported engine for react-jsonschema-form@0.49.0: wanted: {"npm":"^2.14.7","node":">=6"} (current: {"node":"6.9.5","npm":"3.10.10"})
npm ERR! notsup Not compatible with your version of node/npm: react-jsonschema-form@0.49.0
npm ERR! notsup Not compatible with your version of node/npm: react-jsonschema-form@0.49.0
npm ERR! notsup Required: {"npm":"^2.14.7"

[2017-11-16 10:45] javadziaratnia opened #250 "Cannot run Botpress"
Hi
Every time that I'm trying to run the bot press I'm getting these errors. Guys do you have any idea that how can I solve it?

another question is how can i install botpress WEB UI on my server?

Javad-no-MacBook-Air:~ roboken$ botpress start
[botpress] 	 ERR Cannot find module '/Users/roboken/node_modules/botpress'
[botpress] 	 ERR Error: Cannot find module '/Users/roboken/node_modules/botpress

[2017-11-16 11:08] javadziaratnia opened #251 "WEB UI"
Hi Guys
Would you please explain me how can I edit the graphic user interface or in the other word how can I edit the html and javascript codes?

Regards
Javad
Make sure these checkboxes are checked before raising an issue, thank you!

- [] Check that you are using node version >= `6.5`
- [] Search the [documentation](https://botpress.io/docs)

Please also fill in these fields:

---

### Botpress

[2017-11-18 12:33] ricardovsilva commented on #225
@slvnperron any news about this issue? Is that refactoring still on roadmap?

[2017-11-18 12:35] hugojosefson commented on #225
@ricardovsilva I have unfortunately been unable to work on this in the past few weeks. So nothing new from me.

[2017-11-18 16:50] slvnperron commented on #225
Still on the roadmap but no ETA yet :)

[2017-11-20 11:16] newthings4learning opened #255 "Not able to install botpress"
Make sure these checkboxes are checked before raising an issue, thank you!

- [] Check that you are using node version >= `6.5`
- [] Search the [documentation](https://botpress.io/docs)

Please also fill in these fields:

---

### Botpress version: `latest`

### Channels: N/A as i m not able to install botpress on Windows 10

I am trying to follow botpress install instructions. But I am not able t

[2017-11-21 13:37] ricardovsilva commented on #225
@slvnperron there's some plan to that refactor? If yes, can you share that? I want work on that split but I don't know where to start.

[2017-11-24 19:32] #167 closed

[2017-11-24 19:33] #13 closed

[2017-11-24 19:33] #16 closed

[2017-11-24 19:35] slvnperron commented on #211
Just an update on this. This has been implemented and will be released in January as part of the Botpress X

[2017-11-24 19:38] slvnperron commented on #147
Implemented, see #211

[2017-11-24 19:38] #147 closed

[2017-11-24 19:38] slvnperron commented on #135
This has been fixed

[2017-11-24 19:38] #135 closed

[2017-11-24 21:52] ricardovsilva commented on #211
@slvnperron if I correctly understood, capability to external queue message only currently exists and will only exists at enterprise version. Is that correct?
If I create a PR that adds that capability to open source version, will that be appreciated? Because I'm seeing a conflict of interests there.

[2017-11-24 22:05] slvnperron commented on #211
@ricardovsilva What could possibly a conflict of interest in us having full time people working hard to build a free product for the community and making it open-source? I don't think there's anything wrong with trying to make a business, that's called the open-core model.

By the way you're free to swap things as you wish on your side, but we obviously won't merge pro features in the community ve

[2017-11-24 22:07] slvnperron commented on #211
@ricardovsilva Queuing will exist on the community version too, it just won't happen in Redis.

[2017-11-25 11:34] ricardovsilva commented on #211
@slvnperron I know that you have a business, that is Botpress Enterprise, and there's no problem at all for me in that model.
My point there is that I want to know how much free will Botpress Community be from Botpress Enterprise.
There's no problem at all that you and your team develop things that you will just release at enterprise version.
My doubts there, and maybe it's doubts of others develo

[2017-11-26 15:41] slvnperron commented on #211
@ricardovsilva I totally agree with that and I understand your point. The pro/enterprise versions are targeted at agencies and enterprises, our view is that we should never refuse or limit in any way features that make sense for 99% of the people and we should always make it easy for people to add/hook/extend the community version if they wish to.

The pro version currently provides:
  - Multi-use

[2017-11-27 21:22] emirotin commented on #244
I'd like to take this but need some repro steps

[2017-11-27 21:25] emirotin commented on #176
@slvnperron the PR is merged, should this one be closed now?

[2017-11-27 21:29] emirotin commented on #152
@slvnperron should this be fixed on master or the develop/x branch?

[2017-11-27 21:39] emirotin commented on #255
As far as I can tell the problem is you're using node v9 and there's no prebuilt binaries for node-sqlite3 (dependency of botpress) supporting this issue yet: https://github.com/mapbox/node-sqlite3/issues/902

What you can do to fix it right now? The easiest thing is to switch to Node v8. Either uninstall v9 (if you don't need it), or use nvm as suggested in this comment: https://github.com/mapbox

[2017-11-28 02:08] slvnperron commented on #152
@emirotin master :)

[2017-11-28 02:14] #176 closed

[2017-11-28 09:09] emirotin commented on #148
I'll try dealing with it

[2017-11-28 15:14] jcampbell05 commented on #148
:) https://github.com/surebot/Eventline is a good reference for the sort of patterns botpress should provide out of the box.

[2017-12-01 03:20] newthings4learning commented on #255
Hi Eugene,

Thanks for pointing out this. Reverting back to v8.9.1 resolved the issue.

On Nov 27, 2017 9:40 PM, "Eugene Mirotin" <notifications@github.com> wrote:

As far as I can tell the problem is you're using node v9 and there's no
prebuilt binaries for node-sqlite3 (dependency of botpress) supporting this
issue yet: mapbox/node-sqlite3#902
<https://github.com/mapbox/node-sqlite3/issues/902>

[2017-12-01 06:29] emirotin commented on #255
OK great, we need to add `< 9` as node engine dependency in our package.json.

[2017-12-01 13:31] chellexking commented on #255
Use :
`sudo npm install --unsafe-perm -g botpress`

[2017-12-01 14:40] emirotin commented on #148
Unfortunately it appears to be more complicated than I expected.
The thing is right now the `hear` method already supports the first argument to be the function, bu this function is only passed the `text`. Thus making it accept an event instead would be a breaking change.

At the same time as far as I know the next major release of `botpress` may change the way `hear` is used anyway, so there's no

[2017-12-01 15:05] emirotin commented on #152
So I've done a quick investigation and the fix _should we decide to make it_ would be as simple as using `Object` as the `customizer`.

But it will also break the intended array assignment with `[]` notation: http://jsbin.com/dazekub/edit?js,console

Implementing the different customizer won't help because lodash doesn't distinguish between the `x[0]` and `x.0` notation. So by keeping using the `_

[2017-12-01 17:35] slvnperron commented on #152
Thanks Eugene, that makes sense. I think that since there's a workaround (i.e. `['actions', '123']`), the current solution is good, but the documentation should document that edge case. Obviously your option 4 is the best one but will require some work on our end and I don't think this is a priority if we properly document it in the doc.

A fully tested solution from the community would be welcome

[2017-12-01 17:44] #255 closed

[2017-12-01 18:08] emirotin commented on #152
I agree with this conclusion :)

On Fri, Dec 1, 2017 at 8:35 PM Sylvain Perron <notifications@github.com>
wrote:

[2017-12-01 20:09] emirotin commented on #148
OK another update. We _will_ add this feature in the next _major_ (breaking) release.
As described above it will basically switch from passing _text_ to the function to passing the entire _event_.
Obviously, because the change is breaking it won't be available before the coming major version is ready to be shipped.

[2017-12-01 22:37] emirotin opened #277 "`Paging works` test sometimes fails"
Feels like a kind of race condition with a shared resource, didn't look into it yet, just leaving a record

[code]

[2017-12-02 01:27] slvnperron commented on #277
@emirotin I think this is because the insert is done on the same millisecond. I think we should add a 1ms delay here: https://github.com/botpress/botpress/blob/master/tests/users.js#L35

[2017-12-02 08:10] emirotin commented on #277
Don't yet understand how the same millisecond would result in this error,
will try to look into it later.

On Sat, Dec 2, 2017 at 4:28 AM Sylvain Perron <notifications@github.com>
wrote:

[2017-12-02 17:49] slvnperron commented on #277
Because we're ordering the `list` result by `creationDate`, so if they have
the same creation date (precision to milliseconds), the order can be mixed
up

On Sat, Dec 2, 2017 at 3:10 AM, Eugene Mirotin <notifications@github.com>
wrote:

--
*Sylvain Perron*
https://botpress.io
Cell | +14184407586 <(418)%20440-7586>
Let's speak: Partnerships
<https://calendar.google.com/calendar/selfsched?sstoken=UU

[2017-12-02 19:06] emirotin commented on #277
Oh, makes sense
On Sat, Dec 2, 2017 at 20:49 Sylvain Perron <notifications@github.com>
wrote:

[2017-12-03 00:11] #277 closed

[2017-12-03 00:11] slvnperron commented on #277
Fixed in #232

[2017-12-04 08:52] emirotin commented on #250
It seems you're trying to run it from your user's home directory.
Instead is should be ran from the **bot's** directory (the one created with `init` command).

To install the UI on your server you need to deploy your code there, have Node.js and npm installed on the server, run `npm install` in the bot's directory and then `botpress start` — basically all the same as with local development. The di

[2017-12-04 11:26] emirotin opened #286 "[X] NewActionModal but usage not?"
Some recent PR seems to have deleted the `NewActionModal.js` file but it's still used from https://github.com/botpress/botpress/blob/develop/x/src/web/views/FlowBuilder/sidePanel/standardNode.jsx

Was it overlooked or am I missing something?

[2017-12-04 19:23] slvnperron commented on #286
Thanks Eugene, you have good eyes! I wonder why webpack didn't yell on that one. Anyways, I've removed the unused reference (this was a left over).

[2017-12-04 19:23] #286 closed

[2017-12-04 19:29] emirotin commented on #286
I have noticed it because of the conflict in my PR :)
Will update mine now

On Mon, Dec 4, 2017 at 10:23 PM Sylvain Perron <notifications@github.com>
wrote:

[2017-12-04 21:43] emirotin opened #288 "UX: Content Manager is not friendly to new users"
By default it shows the `All` category and the disabled `Add` button.
When there are no form definitions found it should explain the problem and link to docs.

[2017-12-05 19:06] thesherifr opened #289 "using a variable in convo.threads[].addQuestion"
Hi,

My name is Sherif, I have an issue and I need help.

I want to insert a variable in the question text of the convo.threads[]. I have tried normal global variable as well as Convo.get(' ') but none have worked as the thread gets created before adjusting the variable in a previous convo thread.

[2017-12-05 19:25] slvnperron commented on #289
Hi Sherif, see email

[2017-12-05 19:25] #289 closed

[2017-12-05 22:11] thesherifr commented on #289
Thank you Sylvain, I have tried your solution but unfortunately it did not work out, I am still facing the same issue.

Please check my code below: when the 3rd conversation is executed, the 'rate' value is the same as the orginal one "3" at declaration. I believe this is because all conversations are executed with the launch of the bot, so if a variable is inside the text of a question at the sta

[2017-12-05 23:41] slvnperron commented on #289
Hi Sherif,

You need to use [UMM](https://botpress.io/docs/en/docs/foundamentals/umm/), which is a new feature of Botpress 1.0. I see that you are basing your code from the Boost bot, which unfortunately is outdated since it is using Botpress `0.2`.

Please see [this official documentation](https://botpress.io/docs/en/docs/foundamentals/flow/) to see how to use UMM properly.

Also please have a lo

[2017-12-06 13:58] emirotin commented on #286
I don't think you've pushed your changes to develop/x

[2017-12-06 13:59] emirotin opened #290 "Content Manager form often reset to empty state"
I've used the example config from docs for Trivia Questions
Now when I'm filling the form it often jumps to empty state in the middle of the process.
Didn't investigate it yet.

[2017-12-06 15:09] emirotin commented on #290
Also opening an item for editing shows empty form, not sure yet if related to my refactoring, will check later.

[2017-12-06 16:32] slvnperron commented on #286
@emirotin No sorry I'm on `x/flow`

[2017-12-06 17:08] slvnperron commented on #290
@emirotin Experienced this as well, this is related to the Redux refactoring and I *think* my merge of the `x/flow` into `develop/x` will solved this. Unsure.

[2017-12-06 19:55] emirotin commented on #290
I will try to look into it later.

[2017-12-06 22:21] aravindkarnam opened #292 "How to run botpress on 0.0.0.0 instead of 127.0.0.1 ?"
How to set host IP address in botpress ?

[2017-12-07 14:28] egermano opened #296 "Where is the `convo` docs?"
I read it once and even implemented some prototypes, but I went into the documentation now and everything changed there.

[2017-12-07 16:29] slvnperron commented on #292
Hi Aravin,

Just browsing to `http://0.0.0.0:3000` should work. Is there anything else (module, webhook) that is currently pointing to 127.0.0.1 that should be 0.0.0.0?

[2017-12-07 16:45] daehli commented on #296
Hi @egermano,

Probably this is what you are looking for [Convo doc](https://botpress.io/docs/en/docs/foundamentals/flow/#built-in-flow-manager-bpconvo-) ?

You can use the new search bar in botpress documentation
![](https://screenshots.firefoxusercontent.com/images/e85ac945-b1a1-4f4b-9406-455e97b1b621.png)

thank you

[2017-12-07 23:38] aravindkarnam commented on #292
Hi slvn,
         When I tried to do the same on my chrome, I got an error message like this :

Network Error (tcp_error)
--
A communication error occurred: ""
The Web Server may be down, too busy, or experiencing other problems preventing it from responding to requests. You may wish to try again at a later time.
For assistance, contact your network support team.

[2017-12-07 23:40] aravindkarnam commented on #292
Why not make host address configurable, just like port number ?

[2017-12-08 00:44] slvnperron commented on #292
Because that's not something you can configure, it doesn't work this way. Are you sure your host file isn't redirecting 0.0.0.0?

[2017-12-08 02:50] aravindkarnam commented on #292
Ok. I tested it on another computer and it redirected, it seems the host file on my system was edited in the past. Thanks for the help

[2017-12-08 02:50] #292 closed

[2017-12-10 15:50] mehd-io commented on #245
Thx @michaelulin , just ask for a pull request to add this in the documentation, time saving :-)

[2017-12-10 19:11] slvnperron commented on #245
@mehd-io Hey, can't see your PR for this? If you open it I'll make sure to merge today. Thanks!

[2017-12-10 19:29] mehd-io commented on #245
Hi @slvnperron Just did : #306 update database docs heroku postgres

[2017-12-11 14:37] egermano commented on #296
Yes!
Thank you!

On Thu, Dec 7, 2017 2:45 PM, Daehli Nadeau Otis notifications@github.com  wrote:
Hi @egermano,

Probably this is what you are looking for Convo doc  ?

You can use the new search bar in botpress documentation

thank you

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-12-11 17:13] m0rth1um commented on #108
Any news on this? Or can you maybe give me a few hints, then I will try to put the path into a config variable... I kinda need this feature :)

[2017-12-11 20:55] #296 closed

[2017-12-12 20:08] slvnperron commented on #108
Yeah so I think we should have a `baseDir` config, that we should pass the web view

Hints:

Passing variables from server to client:
https://github.com/botpress/botpress/blob/master/src/server/static.js#L89

All the <Link> and <a> should be revised. Example: https://github.com/botpress/botpress/blob/master/src/web/components/Layout/Sidebar.jsx#L84

[2017-12-12 20:11] slvnperron commented on #108
@m0rth1um

[2017-12-12 22:23] aroder opened #313 "botpress start --watch error on Windows: 'C:\Program' is not recognized..."
Running the following command on windows machine:

`botpress start --watch`

results in an error

`'C:\Program' is not recognized as an internal or external command, operable program or batch file.`

It looks to be caused because spaces weren't taken into account when running a command. It seems to happen in or around https://github.com/botpress/botpress/blob/master/src/botpress.js#L95. Any sugges

[2017-12-13 01:07] slvnperron commented on #313
@jsalwen Does your latest windows PR address that?

[2017-12-13 01:25] jsalwen commented on #313
@slvnperron it should, as it:
* fixes path issues between MacOS and Windows
* does build/watch in native node.js

[2017-12-13 02:01] jsalwen commented on #313
@aroder I have been working on getting botpress to work nicely with windows
see: PR https://github.com/botpress/botpress/pull/309

[2017-12-13 02:05] aroder commented on #313
Great!

On your note--what is supposed to run in a node.js console? bp start?

[2017-12-13 04:44] jsalwen commented on #313
@aroder basically, all commands can/should be run in `node.js command prompt` window:

[code]

note: @slvnperron has to review and test the PR. he has to confirm that the new build script don't break anything, so it may take a bit. but if you can't wait, you can work from my branch.

[2017-12-14 00:23] AlexMontoya commented on #190
Hello!!!

I'm on mac on a got this error :

01:13:15 - info: Installing modules: botpress-messenger
01:13:23 - error: npm
01:13:23 - error: WARN checkPermissions Missing write access to /Users/alexandremontoya/picoplaca/node_modules/botpress/node_modules/sqlite3/node_modules/node-pre-gyp/node_modules/mkdirp
npm WARN checkPermissions Missing write access to /Users/alexandremontoya/picoplaca/node_mo

[2017-12-14 16:27] idrluiz commented on #169
node-pre-gyp http GET https://mapbox-node-binary.s3.amazonaws.com/sqlite3/v3.1.8/node-v59-linux-x64.tar.gz
node-pre-gyp http 403 https://mapbox-node-binary.s3.amazonaws.com/sqlite3/v3.1.8/node-v59-linux-x64.tar.gz
node-pre-gyp ERR! Tried to download(403): https://mapbox-node-binary.s3.amazonaws.com/sqlite3/v3.1.8/node-v59-linux-x64.tar.gz
node-pre-gyp ERR! Pre-built binaries not found for sqlite3@

[2017-12-15 17:09] SilvaLA59 opened #319 "[Question] Ignoring user input"
Make sure these checkboxes are checked before raising an issue, thank you!

- [] Check that you are using node version >= `6.5`
- [] Search the [documentation](https://botpress.io/docs)

Please also fill in these fields:

---

### Botpress version: `1.1.10`

### Channels: Facebook Messenger, Web Chat

Hello guys,
I'd like to know if is possible to ignore user inputs until my bot reply is a questio

[2017-12-15 17:54] slvnperron commented on #319
@SilvaLA59 What have you tried so far? Can you provide an example of conversation?
Thanks

[2017-12-15 18:17] SilvaLA59 commented on #319
Hi @slvnperron

Example:

--> (Deny user input here)

--> (Deny user input here)

--> (Allow user input here)

Got it?

[2017-12-15 19:09] slvnperron commented on #319
@SilvaLA59 Yes. What have you tried so far? I'm assuming you are conversing using the [Botpress convo](https://botpress.io/docs/foundamentals/flow/) ?

[2017-12-15 19:31] SilvaLA59 commented on #319
Actually, I have no idea what i can try. I'm using convo.

[2017-12-16 20:54] slvnperron commented on #319
@SilvaLA59 Well by default the bot won't pick up anything the user says if you don't use `addQuestion`

[2017-12-20 00:09] jsalwen opened #325 "Sqlite3 install and run issues"
I am no longer able to get Botpress to run. In order to submit PR #309 using `async` / `await`, I updated nodejs. Previously, I had a much older version.

* Now, I can create a new bot: 'bp init bot-name`
* I can start the bot: `bp start`

But is I try to install `botpress-messenger` or `botpress-slack`, I get the sqlite3 error
see https://github.com/botpress/botpress/issues/190

[code]

At this p

[2017-12-20 00:09] jsalwen commented on #325
@elliott-beach @slvnperron any suggestions?

[2017-12-20 00:25] slvnperron commented on #325
@jsalwen Which version of node are you using? SQLite is broken on many versions / OS. SQLite works well under node version `8.0` for `darwin x86_64`, perhaps worth trying 8.0 ?

[2017-12-20 00:26] slvnperron commented on #325
I am thinking we should remove SQLite as a Botpress dependency and make the driver swappable, i.e. have a `botpress-db-sqlite` and `botpress-db-postgres` module instead.

[2017-12-20 01:51] jsalwen commented on #325
@slvnperron I tried node versions `7.10.1` and `8.9.3`. What version of `8.x` are you using?

[2017-12-20 03:39] jsalwen commented on #325
@slvnperron I updated sqlite3 to `^3.1.13` in my local `botpress`, and it seemed to fix it.

There was a PR to fix the `node-pre-gyp` issue with not passing parameters.. https://github.com/mapbox/node-pre-gyp/pull/301
It was an issue with newer versions of `npm`: https://github.com/mapbox/node-pre-gyp/pull/301/files#diff-180360612c6b8c4ed830919bbb4dd459R31

[2017-12-20 15:15] igo opened #326 "convo.switchTo restart flag doesnt work"
I am using `convo.threads` to process flow. I can switch thread with `convo.switchTo` but when switching to thread with same name as current nothing happens. According to source code thread should restart by default but it does not.
https://github.com/botpress/botpress/blob/b7e560f9b096674eafc794cd2c907f2e8dbcc20f/src/conversations.js#L326

- [x] Check that you are using node version >= `6.5`
- [x

[2017-12-29 16:03] ghost opened #334 "array dose not work in content.yml"
[code]
` Unhandled Rejection in Promise:  Promise {
  _bitField: 18087936,
  _fulfillmentHandler0: Error: Unrecognized instruction on Web in bloc 'goodbye': { on: 'telegram',
  reply_markup: { inline_keyboard: [Array] },`

[2017-12-29 21:01] jsalwen commented on #334
@azizkhani please put the UMM in a code block using: ` ``` `
This will help with troubleshooting

example:

[code]

documentation: [Fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/#fenced-code-blocks)

[2017-12-29 21:03] jsalwen commented on #325
I am no longer having issues starting with version `1.1.11` with sqlite3 version `3.1.13`

[2017-12-29 21:04] jsalwen commented on #313
@aroder the PR is merged. Please get the latest code and confirm it is fixed

[2017-12-29 21:06] jsalwen commented on #210
as of version `1.1.11` this is no longer an issue

[2017-12-29 21:06] #210 closed

[2018-01-05 17:01] aroder commented on #313
Upgraded to 1.1.12 and getting the same error.

![image](https://user-images.githubusercontent.com/23650/34619425-51d9c2b4-f1ff-11e7-9e0a-ae7095aa7f4e.png)

[2018-01-08 10:31] epaminond commented on #334
@azizkhani , was the problem solved? Why are you putting 2 dashes in `- - text: sdsadd`?

[2018-01-08 10:34] epaminond commented on #246
@Visovsiouk , did you try `- title: '{{name}}'` instead? Could you provide your `content.yml`?

[2018-01-08 11:23] Visovsiouk commented on #246
@epaminond I tried replicating the error, but now it works properly even without changing `content.yaml`. The issue has been resolved.

[2018-01-08 11:30] epaminond commented on #246
OK, closing it then.

[2018-01-08 11:30] #246 closed

[2018-01-08 15:15] azizkhani commented on #334
@epaminond
I want make this json in UMM

[code]

[2018-01-08 20:44] jsalwen commented on #313
I have confirmed this is a bug. it is related to:
https://github.com/remy/nodemon/issues/474

https://github.com/botpress/botpress/blob/f08b27b0ab107154a5d94b75942aa5102902c3a7/src/cli/start.js#L63-L72

in Windows, line 63, it creates are array
[code]

then in line 69, it sets `exec` to:
[code]

`nodemon` then tries to run `C:\\Program`

I'm trying to see if there is a way to fix this so `nodemon`

[2018-01-08 23:01] jsalwen commented on #313
@aroder can you see if PR https://github.com/botpress/botpress/pull/338 fixes the issue for you?

[2018-01-08 23:08] jsalwen commented on #334
@azizkhani that does not look like a valid message.

it appears to have an array within an array

can you try:
[code]

[2018-01-09 14:28] saitai0802 commented on #325
@jsalwen Could you tell me where I can change the  sqlite3 to ^3.1.13? I can't find my botpress folder at the global environment in my Mac..

[2018-01-09 16:27] jsalwen commented on #325
@saitai0802 you can install the latest version of Botpress. The current version on npm is `1.1.12` so it will have the updated version of sqlite3

`npm update -g botpress`

[2018-01-10 02:38] saitai0802 commented on #325
@jsalwen Thank you for your reply!

When I run the `npm install -g botpress` installation command, this below line kept popping non-stop:
`gyp WARN EACCES user "root" does not have permission to access the dev dir "/usr/lib/node_modules/botpress/node_modules/sqlite3/.node-gyp/8.9.4"`

After I terminate that installation then run
`npm update -g botpress`
`botpress init`

It shows up installation er

[2018-01-10 03:20] saitai0802 commented on #325
Seems the problem is lots of people can't even install sqlite3 correctly... https://github.com/mapbox/node-sqlite3/issues/866
If there any workaround for case?

[2018-01-10 06:38] salehinRafi commented on #325
@saitai0802 it happens to me a few days back. I try above solution as well but still, the problem persists.
This is what I did to solve:

1. run `npm outdated` inside the project folder (will show old version even already run command `npm update -g botpress`)
2. Directly update using `npm update `inside the folder will solve the issues for me.

[2018-01-11 17:49] slvnperron opened #343 "[Bug] Messages order not respected when delay/typing in multi-message UMM blocs"
Branch: `develop/x`

![image](https://user-images.githubusercontent.com/1315508/34838921-db31af04-f6cd-11e7-84ff-db969e685dc7.png)

Second and third messages should be inverted

[2018-01-11 18:04] slvnperron commented on #343
Additional issue: When passing data to the bloc (i.e. I'm testing the `#goodbye` bloc) I get:

![image](https://user-images.githubusercontent.com/1315508/34839531-e3b9f616-f6cf-11e7-8ba8-fb176afc01f2.png)

[2018-01-11 18:04] slvnperron commented on #343
[Deleted the second message, this was an error from me]

[2018-01-11 18:13] slvnperron opened #344 "[Bug] Ghost Content Manager throws when file doesn't exist"
## Version: `develop/x`

## Repro

- create a new bot
- create a new form, e.g. `forms/text.form.js`
- start the bot

![image](https://user-images.githubusercontent.com/1315508/34839833-02312d66-f6d1-11e7-95ee-e1c2062c4937.png)

I don't think this is a Ghost issue, we should I think simply catch the error and create the file in the Forms manager?

[2018-01-11 19:52] emirotin commented on #343
This is really surprising, the new API is producing the same array, just differently. I'll look into this

[2018-01-11 19:53] emirotin commented on #344
Hm, I thought I've implemented the catch for that that will return null and shouldn't throw, but I might have overlooked something. Will check and fix, should be an easy issue

[2018-01-11 21:00] emirotin commented on #344
Well OK, after checking it indeed the Ghost Manager make no special handling for missing files (same for missing DB entries in real ghost mode). We should probably normalize it in the GCM (capture the known errors and return null) cause the errors will be different in real and transparent modes (in once case getter errors because of 0 DB results, in the other ENOENT error).

I'll send a PR soon.

[2018-01-11 21:19] emirotin commented on #344
The CM is already aware of possible null returns from the GCM, but GCM wasn't able to gracefully handle these situations. Fixed in #345

[2018-01-11 21:24] emirotin commented on #343
Hm, I get the same results, but isn't it possible it's related to the `typing` delay?
The 2nd message (`This is just a regular Hello World`) has 2s delay while the 3rd (`Make sure to check out the 'index.js'`) has the default delay. Maybe it's just the 3rd one gets processed faster because of this?

I'm a bit confused because I don't think I've changed anything in how these messages are processed,

[2018-01-12 01:32] slvnperron opened #346 "[Bug] Flows – Links are not always aligned properly"
## Version: `develop/x`

## Repro

- create a two nodes and link them together (node1 -> node2)
- create some content in the "onEnter" of the node1 that will make it take two lines (large text)
- save the flow
- refresh the browser

As soon as you refresh the flow (once the content is drawn a first time), then the links get re-aligned properly. The fix is probably just to re-draw the flow once in

[2018-01-12 01:42] slvnperron opened #347 "[Bug] Ghost CM – Only mark a file as dirty if the file changed"
## Suggestion

Currently, when we re-save a file that hasn't changed, the GCM shows that file has "changed" even though it was saved with the exact same content.

I suggest that if the files are smaller than a certain internal limit (like `100mb`), we first check if the checksum matches before marking it dirty.

https://www.npmjs.com/package/checksum seems quite good.

@emirotin Thoughts?

[2018-01-12 02:22] slvnperron opened #348 "GCM – Add the ability to drop/revert changes"
It would be nice to be able to drop the pending changes

[2018-01-12 03:08] slvnperron opened #349 "[Feature Request] UMM – Enhancements to function that generates UMM bloc"
## Suggestion 1

It would be nice if the function that generates the UMM bloc had access to the `event` being processed (can be a synthetic event in case of proactive message).

## Suggestion 2

Support for async functions

## Use case

My use case for that is that I'd like to fetch wether the message is going to an english-speaking user or not and change the language in consequence. The lang coul

[2018-01-12 07:06] emirotin commented on #347
@epaminond implemented the check that should actually prevent that. But it checks the content directly. You say it's not working and is really marking the file as dirty?

Checking the checksum is a good approach and I've thought about it.

[2018-01-12 08:58] epaminond commented on #347
Yep, I've implemented checking whether content is the same for ghost-manager (we don't check it for "transparent" mode): https://github.com/botpress/botpress/blob/develop/x/src/ghost-content/index.js#L160

[2018-01-12 09:05] emirotin commented on #347
Transparent mode is fine, it has no dirty flags so it doesn't need this
check.

On Fri, Jan 12, 2018 at 8:58 AM Alex Pletnov <notifications@github.com>
wrote:

[2018-01-12 17:13] chrisribe opened #350 "UMM Content manager ?"
Hi thanks for working on this, currently creating a bot is not much more that a lot of if else cases.
Your approach with UMM is interesting and more flexible.

Any plans on building a UI to fill the content.yml file ? The project is named "botpress" simple data entry editing should be possible via the ui no?

Also maybe a conversation manager ? Right now I understand it's basic. I explored chatfue

[2018-01-12 17:33] slvnperron commented on #350
Hi Chris, funny timing, as we're releasing both in the next major release of Botpress. We have a private beta next week or the other for testing that release, would be interested to have you on board. Could you drop me an email at `sylvain@botpress.io` and CC `valery@botpress.io` ?

Thanks

[2018-01-12 17:34] #350 closed

[2018-01-12 20:06] slvnperron commented on #347
Sure, yes. I can see why the solution that Alex implemented doesn't work in our case, since the file isn't in the DB (yet), just on the file system.

## Repro

1. [Dev mode] Create two flows with nodes
2. Save flows, switch to `NODE_ENV=production` to enable GCM
3. Modify one of the flows, leave the other untouched.
4. Save. You'll see both flows are being tracked in GCM as dirty.

[2018-01-12 21:53] GlauberF opened #351 "Chance the web panel"
if I want, how can I change the web panel and then compile again?

[2018-01-13 08:46] Oknesar opened #352 "Сan I start a conversation without an event?"
For example if I want to conceive a question to the user before he writes something

---

### Botpress version: `1.1.12`

[2018-01-13 09:16] emirotin commented on #347
I think this can be fixed without changing how we save flows (but also can improve it separately). Saving the 2nd one shouldn't mark it as dirty indeed. I'll take care of this.

[2018-01-13 16:03] kishlayk opened #353 "Can't connect to messenger"
### macOS : `<<10.13.1>>`
### using node version = `<<7.9.0>>`
### Botpress version: `<<1.1.12>>`
### Channels: `<<messenger>>`

On trying to connect botpress with messenger by inputing app id, app secret and access token through UI, I am getting forllowing errors :  `An error has been returned by Facebook API. Status: 400 (Bad Request) (#100) callback_url should represent a valid URL.`

![botpres

[2018-01-13 22:05] emirotin commented on #347
Initial thoughts after reproducing:

This diagnosis is wrong. On the second start (the first start with the ghost content enabled) the GCM sees it's running in the clean state and updates the DB to match the FS. Thus it creates the initial records for all 4 files (2 per each of 2 flows) without any revision records.

Then I confirm that upon saving the changes it records 4 revisions — 1 per each f

[2018-01-13 22:14] emirotin commented on #347
Well well, apparently I was right [here](https://github.com/botpress/botpress/pull/333/files#r158734477) when suggested using `count('id as count')`

Without is the result looks like `[ { 'count("id")': 1 } ]`. So without it [this line](https://github.com/botpress/botpress/blob/a3e6c7018b55e75e6ac437ae0d3ba6467e36c005/src/ghost-content/index.js#L160) gets `undefined`, converts it to `NaN` and the

[2018-01-15 09:33] epaminond commented on #347
Hm, that's weird - it seemed to work in my tests.

[2018-01-15 11:30] emirotin commented on #347
It works but returns the result of the form `[ { 'count("id")': 1 } ]` for me. It's quite possible it's different between sqlite (which I'm using) and Pg?

[2018-01-17 09:20] saitai0802 opened #355 "When we start a conversation, how to stop api.ai keep getting user quick reply answer as an unknown input"
When we start a conversation, how to stop api.ai keep getting user quick reply answer as an unknown input?

`
bp.hear(/PICK_SERVICE_BOOK/i, (event, next) => {
const doctor = {
  specialties: /a|b|c|d/i,
  district: /a|b|c|d/i,
  gender: /a|b/i,
}
    if (bp.convo.find(event)) {
      return event.reply('#askStopConvo')
    }

    const txt = txt => bp.messenger.createText(event.user.id, txt)
    b

[2018-01-17 15:27] slvnperron commented on #355
Hey @saitai0802 ,

for fallback intent, please use the following code instead.

[code]

[2018-01-17 15:41] saitai0802 commented on #355
Thank you @slvnperron will try that tomorrow.
I got one more question. if I have a fallback intent has a follow-up intent. like
fallback-first_time
|- fallback-second_time

Can I still use this built-in fallback handler to handle and avoid the fallback intent interprets my conversation? (Sorry I should try this by myself. I am just worrying if I will stuck of solving this problem tomorrow again. o

[2018-01-17 15:57] slvnperron commented on #355
Sorry I'm not sure to understand the exacte behavior that you are looking for. Could to provide an example of conversation so I better understand the scenario?

[2018-01-17 16:05] slvnperron commented on #352
Yes, I suggest you look into forging an event to start the conversation. This should be similar to the way we send proactive messages.

Ultimately this should be supported by default, so happy to hear your thoughts on what the API should look like.

https://botpress.io/docs/foundamentals/events/#sending-to-a-user-platform-independent-

[2018-01-17 16:07] slvnperron commented on #353
Hey, please get the latest version of `botpress-messenger` (2.2.10) and also don't include the `https://` at the beginning of the URL

[2018-01-17 16:07] #353 closed

[2018-01-17 16:13] slvnperron commented on #347
Yup, Knex doesn't do a good job of converting these results from the different DBs. That's why we have to have something like our (`database-helper`)[https://github.com/botpress/botpress/blob/master/src/database/helpers.js#L98].

Let's use eugene's naming convention for counts.

[2018-01-19 22:18] slvnperron opened #357 "[Feature Request] Ability to leave notes / comments to others in flow"
Sometimes you want to bring attention to others (or yourself) in a flow. Appart from a "text", the comment should record date/time and the current user who posted that comment.

On the backend, these comments could result in a log being traced in the console.

![image](https://user-images.githubusercontent.com/1315508/35174223-95e9abca-fd3c-11e7-978d-ca471bc7768e.png)

[2018-01-19 22:20] slvnperron opened #358 "[Feature Request] Copy/paste a node element"
It would be nice if we could copy & paste instructions (actions, messages & conditions) from one node to an other.

Duplicating elements is currently tedious.

![image](https://user-images.githubusercontent.com/1315508/35174320-ee928986-fd3c-11e7-8e2c-183d607ce532.png)

[2018-01-19 22:27] slvnperron opened #359 "[Feature Request] View function arguments in UI"
It is currently very painful to have to go to the docs / code to recall what the parameters to a function is. It would be much better to have the different parameters (at least) hinted, and even better if the "required" parameters were actually inputed automatically.

![image](https://user-images.githubusercontent.com/1315508/35174527-bbc4f1d2-fd3d-11e7-8a64-f4ced5885f38.png)

---

This feature is

[2018-01-19 22:29] slvnperron opened #360 "[Feature Request] Hide functions starting with `__` in the Actions dropdown"
I want to make it a convention that inner functions registered by Skills use the `__` prefix for the functions that are meant to be private by the Skill.

Example:

![image](https://user-images.githubusercontent.com/1315508/35174682-43b8aa66-fd3e-11e7-8b25-aa5d063e3b0f.png)

[2018-01-19 22:31] slvnperron opened #361 "[Feature Request] Ability to copy the bloc Id of an element in Content Manager"
Currently hard to copy the `blocId` of an element, which is a common operation

![image](https://user-images.githubusercontent.com/1315508/35174764-8be4ebce-fd3e-11e7-9509-34ebfb6312ce.png)

[2018-01-19 22:36] slvnperron opened #362 "[Feature Request] Buggy copy/paste of Flow nodes"
Copy/pasting nodes works but is a bit weird.

Things to improve:
- [x] Links are also copied / pasted, which doesn't make sense (you want just the node to be duplicated)
- [x] The new node appear at position `{ x:0, y: 0}` which is frustrating. It should appear in user's viewport
- [x] Once pasted, the node is removed from the clipboard (so you have to click copy multiple times)
- [x] The "paste"

[2018-01-19 22:40] slvnperron opened #363 "[Bug] First Node transition always shows `always`"
All my nodes' first transition shows up as `always` even though the condition is not always truthy.

![image](https://user-images.githubusercontent.com/1315508/35175016-bb51203e-fd3f-11e7-915d-ab1fb5934b56.png)

![image](https://user-images.githubusercontent.com/1315508/35175025-c9cca890-fd3f-11e7-84f7-c94744bb240f.png)

[2018-01-19 22:45] slvnperron opened #364 "[Bug] The DM continues executing a flow when an action invocation throws an error"
The current behaviour is that the DM continues executing (proceeds to the next elements) as if the function was successfully executed, which can leads to unexpected behaviours.

We should instead:
- Log the error in the console (+ add a notification in the panel)
- Stop the flow execution

---

Further idea(s):

- If there is a node called `onError`, jump to that node

[2018-01-19 22:47] slvnperron opened #365 "[Feature Request] Ability to “jump to flow”"
It would be convenient if clicking on this element brought you to the flow in question

![image](https://user-images.githubusercontent.com/1315508/35175244-bd43825a-fd40-11e7-8d35-c21d64785a05.png)

[2018-01-19 22:52] slvnperron opened #366 "[Bug] "main" flow doesn't show up first by default"
Expected behavior:

When you navigate to the "Flows"

![image](https://user-images.githubusercontent.com/1315508/35175331-3119ca72-fd41-11e7-8eb9-93d904e120aa.png)

If there is a flow called "main.flow.json", it should be the one *selected* by default

![image](https://user-images.githubusercontent.com/1315508/35175330-2a4fb724-fd41-11e7-9431-0624d2f4ca9b.png)

Furthermore, ANY flow defined as a "

[2018-01-19 22:53] slvnperron opened #367 "[Feature Request] Content Manager – Ability to duplicate a content element"
We can't duplicate a content element

Would be nice to also enable keyboard shortcuts

![image](https://user-images.githubusercontent.com/1315508/35175448-b8cec814-fd41-11e7-9028-4285a0cc0bd7.png)

[2018-01-19 23:00] slvnperron opened #368 "[Module Request] Live Functions"
It would be nice to be able to create new backend functions from the GUI. This would be particularly useful for bots deployed to clients, as they would like to be able to customize the bots without having access to setup a dev environment, checkout the code, deploy the new version, etc.

It should:
- Use [Monaco](https://github.com/superRaytin/react-monaco-editor) as the editor (I believe it's the

[2018-01-19 23:30] slvnperron opened #369 "[Feature Request] Handle cancellation by default"
The DM should handle user's intention to cancel the current flow automatically. In the same way that the DM currently handles timeouts.

## EDIT: The "cancel" hearing should be done at the template level, through the use of `bp.hear`, but then that should call the DM's "cancel" method.

E.g.

Bot: What is your name?
User: cancel
Bot: Sorry I didn't get that, what is your name? <<== The bot should

[2018-01-20 05:15] slvnperron opened #370 "[Feature Request] Make the current flow part of the URL"
Instead of `http://localhost:3000/flows#`, it should be `http://localhost:3000/flows/main` for example, so that when you refresh the page you keep pointing to that flow

[2018-01-20 05:17] slvnperron opened #371 "[Bug] Flows – The current undo/redo is broken"
It works intermittently and it's pretty hard to trust, which leads to constantly saving and bad DX.

Instead of having just one stack and having an index to keep track of changes, we should simplify this by having two stacks: `redoStack` and `undoStack`. We can get inspired by [DraftJS's system](https://github.com/facebook/draft-js/blob/cd20b992d4b054d70f756c258e5e75e518995e12/src/model/immutable/

[2018-01-20 05:19] slvnperron opened #372 "We should capture runtime javascript errors and report them to us"
We can use a service such as Sentry, TrackJS or ExceptionHub.

[2018-01-20 05:21] slvnperron opened #373 "[Improvement] Flows – Deleting node links is currently hard"
You currently have to hold shift, click on a link and making sure you don't drag (so you don't accidentally create a new point) then hit delete.

We need to find a way to make this much easier and obvious.

[2018-01-20 05:23] slvnperron opened #374 "[Improvement] Default transition type should be set to "transition to node" instead of "end flow""
Since 90% of the time, a transition is to a node.

![image](https://user-images.githubusercontent.com/1315508/35180168-086e98f0-fd78-11e7-985e-603adb28beab.png)

[2018-01-20 05:29] slvnperron opened #375 "[Bug] Variable substitution issue in Flow/Content Management"
Instead of using safe substitutions (`{{var}}`), we should use raw substitutions (`{{{var}}}`).

## [Here](https://github.com/botpress/botpress/blob/develop/x/src/web/views/FlowBuilder/common/action.jsx#L83)

[2018-01-20 05:32] slvnperron opened #376 "[Feature Request] Ghost (GCM) – Ability to undo a file revision"
It would be really useful to be able to undo a revision

![image](https://user-images.githubusercontent.com/1315508/35180211-54089b0c-fd79-11e7-9087-fab06b983ccd.png)

[2018-01-20 05:36] slvnperron opened #377 "[Enhancement] Ghost (GCM) – Amend UI to pack revisions under collapsible <details> tag"
Not sure about this one, but can we actually pack all revisions done to a file into a single one? I have no issues with the fact that the revisions are individuals, it's just that it seems a bit intimidating in the UI to see that long of a list for a single file.

@emirotin

![image](https://user-images.githubusercontent.com/1315508/35180225-bf83d9fa-fd79-11e7-9ec1-f4a8dc571283.png)

[2018-01-20 05:38] #348 closed

[2018-01-20 05:39] slvnperron commented on #348
Duplicate of #377

[2018-01-20 05:40] slvnperron commented on #347
@emirotin not sure if that has been fixed?

[2018-01-20 05:42] slvnperron commented on #343
I'm sure that the delay plays a part in that, but in `master` the current and expected behaviour is that waiting (or typing) holds the rest of the queued messages until that one message has been fully processed. They are supposed to be fully executed sequentially.

I'm 99% sure this is a bug in the new Dialog engine and is unrelated to your changes, so will assign it to myself.

[2018-01-20 05:44] slvnperron commented on #344
@emirotin Just confirming this can be closed

[2018-01-20 20:43] slvnperron commented on #346
@epaminond Still seeing this bug although it seems it doesn't happen with the same links as before. Thoughts?

![issue_346](https://user-images.githubusercontent.com/1315508/35187835-a968273c-fdf8-11e7-9796-d2867310946b.gif)

[2018-01-20 21:37] epaminond commented on #346
Hm.. It seems it makes something to do with execution order of async calls. Adding `setTimeout` fixes issue.
Another case that causes error is with adding/removing next `onEnter` content.
Will continue working on it.

[2018-01-20 21:58] slvnperron commented on #346
Cool, let me know

[2018-01-21 20:07] emirotin commented on #377
Under the hood I think  we can't and here's why. Imagine there's an editor working on a file, making 10 saves. Somewhere in between of them a programmer does independently run `ghost-sync` pulling 5 of this revisions and recording them in the `.ghost-revisions` file in the repo. If we allow oursleves to squahs the revisions (by changing the ID and the time, or only updating the time) this midway c

[2018-01-21 20:09] emirotin commented on #347
Yes, the linked PR was merged, I supposed it to autoclose the ticket but it didn't

[2018-01-21 20:09] #347 closed

[2018-01-21 20:10] emirotin commented on #343
Yeah this sounds logical because I've really only touched the parsing layer (replaced it because no parsing anymore) and not the sending logic.

[2018-01-21 20:11] emirotin commented on #344
Hm, another one where I thought the "Fixes" ref will autoclose the ticket on PR merge (pretty sure this used to be the case)

[2018-01-21 20:11] #344 closed

[2018-01-22 03:08] slvnperron commented on #344
@emirotin Yup that was the case before, also got me confused, thought you purposely kept it open :O

[2018-01-22 20:14] emirotin commented on #377
Yes, sure thing. Let's rephrase this ticket and keep it for future UX improvements.

[2018-01-22 20:45] epaminond commented on #346
@slvnperron , seems to be fixed this time!

[2018-01-22 23:53] slvnperron opened #381 "[Enhancement] Flow – We should round positions to integers"
![image](https://user-images.githubusercontent.com/1315508/35250614-7b0e6e56-ffa5-11e7-9896-e57444361a90.png)

[2018-01-23 03:34] slvnperron opened #382 "[Enhancement] Enhance HTTP calls through Axios"
We should:

- [] Have some progress bar (like [nprogress](http://ricostacruz.com/nprogress/)) that displays the progress of the requests
- [] We should standardize the return/errors of server-side calls
- [] We should capture errors and success messages and display them via "toasts" notifications

[2018-01-23 16:09] #346 closed

[2018-01-23 16:10] slvnperron commented on #347
@emirotin Ha I know why, it only works this way when merging into `master` branch

[2018-01-23 16:14] emirotin commented on #347
Ah makes sense

On Tue, Jan 23, 2018, 7:10 PM Sylvain Perron <notifications@github.com>
wrote:

[2018-01-23 16:43] #363 closed

[2018-01-23 21:06] epaminond commented on #366
@slvnperron , what do you mean by flow designed as a "skill"? Is it a name?

[2018-01-24 02:32] slvnperron commented on #381
Confirming this is working

[2018-01-24 02:32] #381 closed

[2018-01-24 02:34] slvnperron commented on #366
Confirming this works

[2018-01-24 02:34] #366 closed

[2018-01-24 12:48] SilvaLA59 opened #388 "[Error] Debugging bot"
### Botpress version: `1.1.10`

Hi,
I'm trying to debug my project following this doc https://botpress.io/docs/advanced/debug/#visual-studio-code-

And I have this error "Cannot connect to runtime process, timeout after 10000 ms - (reason: Cannot connect to the target: Parse Error)."

Does anyone know how can I do this?

[2018-01-24 20:58] slvnperron opened #391 "[Enhancement] Flows – Focus and center the whole flow when switching to it"
## Current

![image](https://user-images.githubusercontent.com/1315508/35356591-de72a654-011e-11e8-95c2-5f0df2e3d4ef.png)

## Desired

![image](https://user-images.githubusercontent.com/1315508/35356610-efc78636-011e-11e8-9825-6d39b6ea8b4b.png)

---

The algo should be something like:
[code]

[2018-01-24 21:47] slvnperron opened #392 "[Resolve PR #387]"
Opening this issue to make sure we don't forget about this PR.

https://github.com/botpress/botpress/pull/387

[2018-01-24 21:49] epaminond commented on #392
Check relevant PR: https://github.com/botpress/botpress/pull/389

[2018-01-24 22:49] slvnperron opened #393 "[Bug] Content Manager – On "Enter" key pressed, all windows are dismissed"
The error is described in this PR:

https://github.com/botpress/botpress/pull/385#pullrequestreview-91344488

[2018-01-24 23:16] #392 closed

[2018-01-25 09:11] #365 closed

[2018-01-25 10:14] emirotin commented on #393
I think there should be another issue with up/down arrows changing the indices in all picker popups. Will work on both.

[2018-01-25 14:18] nuttakan2533 opened #395 "K"
Make sure these checkboxes are checked before raising an issue, thank you!

- [] Check that you are using node version >= `6.5`
- [] Search the [documentation](https://botpress.io/docs)

Please also fill in these fields:

---

### Botpress version: `<<VERSION HERE>>`

### Channels: <<list of channels>>

[2018-01-25 17:37] #395 closed

[2018-01-25 22:30] jsalwen opened #396 "[Feature Request] Remove dependency for botpress module in modules"
When developing modules, such as `botpress-messenger`, getting an error when running `bp start`.
[code]

In the case of `botpress-messenger`, the issue is cased by following lines in `src/db.js` because `botpress` is not a module in `botpress-messenger`
[code]

## Suggestion
When modules are initialized, `botpress` is passed in. Can we also pass in the `DatabaseHelpers`? This would mean that we wo

[2018-01-25 22:32] jsalwen commented on #396
@slvnperron this would remove the primary issue I'm having when trying to work on enhancements/bugs in modules for botpress. If there is a way to reference the helpers from withing botpress, that would fix it too.

[2018-01-26 00:50] slvnperron commented on #396
Thanks Josh, will think about it. I'm actually thinking about having a separate `botpress-sdk` package that modules would require, which would include the database helper.

In the mean time, can you please watch this video to see how this issue can be fixed?

https://youtu.be/7DG8U4RBawM

[2018-01-26 01:07] slvnperron opened #399 "[Enhancement] DX – Build time could be improved"
Currently taking around 30-35s on my i7 MBP for a dev build. Ideally this should be below 5s.

We could look into:
- Chunks + Caching
- Making sure we don't babelize `/node_modules/`
- Only rebuilding what changed (again chunking the codebase further would be useful here)

Once we reach the 5s treshold it may make sense to enable hot reloading

[2018-01-26 02:33] slvnperron opened #400 "[Enhancement] Flows – Switch href="#" to void(0)'s"
We used to use `<a href="#">` everywhere but with the new flow navigation by URL feature it's now tedious to navigate back and forth using browser's native prev and forward features since the history always look like:

[code]

![image](https://user-images.githubusercontent.com/1315508/35422512-1507a54a-0217-11e8-9e06-cf2e440fb6af.png)

[2018-01-26 09:02] #370 closed

[2018-01-26 17:41] #400 closed

[2018-01-26 17:42] #374 closed

[2018-01-26 19:12] jsalwen commented on #396
code to address this is merged. I will start working on updating the modules, once the latest version of botpress is updated on npm.

[2018-01-26 19:15] #396 closed

[2018-01-26 19:49] slvnperron opened #405 "[Bug] Flows – Condition is lost when editing a transition"
![issue_transitions](https://user-images.githubusercontent.com/1315508/35457778-12712310-02a8-11e8-9481-2da7ea023144.gif)

[2018-01-26 20:01] slvnperron opened #406 "[Feature Request] Flows – Add flow events inheritance"
# Use case

I have a flow (let's call it `parent`) that has the following transition in its properties:

![image](https://user-images.githubusercontent.com/1315508/35458070-ef64d046-02a8-11e8-8038-191488d2038f.png)

The expected behavior is that AT ANY TIME during the conversation, while the user is on this flow, if the user wants to cancel, we go to the cancellation node.

Now, this flow uses a "

[2018-01-26 21:32] jsalwen commented on #396
* add PR fix for `botpress-messenger`: https://github.com/botpress/botpress-messenger/pull/76
* `botpress-slack` does not need a fix
* `botpress-api.ai` does not need a fix

[2018-01-27 15:29] azizkhani commented on #334
@jsalwen when i want send message in telegram ,message will send like this json . i want create array of array in content.yml . how can send this message in content.yml?

[2018-01-27 17:22] azizkhani opened #408 "what is main.flow.json ? why dose not any documation about it?"
Hi all ,
what is main.flow.json ? why dose not any documentation about flow?

[2018-01-27 18:05] slvnperron commented on #408
Because it's not released anywhere, we're still working on it. Where have
you seen that?

On Jan 27, 2018 12:22 PM, "Ali Akbar Azizkhani" <notifications@github.com>
wrote:

[2018-01-27 18:09] azizkhani commented on #408
@slvnperron in webchat-weather 👍  .
How can implement that ? can you share that?

[2018-01-27 18:14] slvnperron commented on #408
Oh wow, sorry this wasn't meant to be open-sourced just yet! We are working
on the documentation so stay tuned, in the next couple days we should have
something

On Jan 27, 2018 1:09 PM, "Ali Akbar Azizkhani" <notifications@github.com>
wrote:

[2018-01-28 01:42] slvnperron opened #409 "[Enhancement] CLI – Stop auto-installing when running `init` and `create`"
I'm using `yarn`, most use `npm`. It should simply at the end tell the user how to continue by saying "You now need to install dependencies by running `yarn install` or `npm install`"

[2018-01-28 10:11] #290 closed

[2018-01-28 10:11] #288 closed

[2018-01-28 10:12] #152 closed

[2018-01-29 20:44] mrbarletta commented on #211
I am in favor of limiting PRs that could harm the botpress business model and its sustainability.

I also think that with proper hooks/extensions/ plugins support, initiatives as the one from @ricardovsilva will not be in vain as it could exist as a community plugin and the maintenance burden/complexity will be out of scope for the botpress team.

We have an agency and we are initiating our journe

[2018-01-29 21:34] slvnperron commented on #211
Thanks Matias, would you mind emailing me at sylvain@botpress.io, would love to send you an overview you the upcoming version and would also love to pick your brain :)

[2018-01-29 22:40] #391 closed

[2018-01-30 21:43] jsalwen commented on #178
there are also dependencies that are out-of-date: https://david-dm.org/botpress/botpress

[2018-01-31 08:41] #405 closed

[2018-02-01 22:04] epaminond commented on #375
@slvnperron , do you mean that we should remove another pair of curly braces in the resulting `htmlTpl` variable? Or do you mean weneed to add that pair to result that gets stored into `vars`?

[2018-02-02 00:16] fstn commented on #124
+1

[2018-02-02 01:04] slvnperron commented on #124
@fstn Hey so this has been implemented but isn't documented: https://github.com/botpress/botpress/blob/b862db4a5f3eb39bdbd20afae46b12dc3138398a/src/fallback.js

Would appreciate a PR to the doc

[2018-02-02 01:04] #124 closed

[2018-02-02 01:08] slvnperron commented on #375
@epaminond Yeah so I mean instead of `{{var}}` we should execute it as `{{{var}}}`, while displaying it as `{{var}}` in the UI.

[2018-02-02 01:09] slvnperron commented on #375
The problem is that currently we replace them with double braces, so that if we print out special characters they will be escaped

[2018-02-02 07:04] #409 closed

[2018-02-02 07:06] #360 closed

[2018-02-02 17:36] #343 closed

[2018-02-02 20:22] slvnperron opened #423 "[Bug] Flows – Filter out superfluous information in `.ui.json` files"
We're currently saving some properties that we don't need.

![image](https://user-images.githubusercontent.com/1315508/35753234-daecad4e-082c-11e8-911e-723aa31d0d98.png)

[2018-02-02 20:36] slvnperron commented on #423
Nevermind – I was confused. We actually need all of these.

[2018-02-02 20:36] #423 closed

[2018-02-04 09:29] #371 closed

[2018-02-04 18:11] azizkhani opened #424 "how can reply to message with send option parameter?"
I want reply message and want send option. In telegram for send message and show keyboard will send option like this . umm is very good for template message with variable . i want mixed this feature with option.

[code]

[code]

[2018-02-04 18:32] slvnperron commented on #424
You should look into the quick replies option in messenger

On Feb 4, 2018 1:11 PM, "Ali Akbar Azizkhani" <notifications@github.com>
wrote:

[2018-02-04 18:36] azizkhani commented on #424
@slvnperron is an example ? messenger support send reply with options?

[2018-02-04 18:39] slvnperron commented on #424
https://github.com/botpress/botpress-messenger#sending-text-with-quick-replies

On Feb 4, 2018 1:36 PM, "Ali Akbar Azizkhani" <notifications@github.com>
wrote:

[2018-02-05 14:29] epaminond commented on #361
@slvnperron , fixed that in https://github.com/botpress/botpress/pull/427 by adding "edit" button. Would it work in this case?

[2018-02-05 14:33] epaminond commented on #372
@slvnperron , is an intention here to handle errors by botpress-developers or by bot-developers (e.g. initialize sentry with keys provided by user in botfile)?

[2018-02-05 14:52] slvnperron commented on #372
The intention was for us to catch error in the Botpress UI but let's leave this one for now as I'm not sure this makes sense

[2018-02-05 16:17] slvnperron commented on #361
@epaminond Yeah totally! Thanks !!

[2018-02-05 16:33] #361 closed

[2018-02-05 22:07] epaminond commented on #373
@slvnperron , could we disable adding points to make things more obvious here? It'd work like in [Events & Listeners demo](http://www.projectstorm.io/react-diagrams/?selectedKind=Simple%20Usage&selectedStory=Events%20and%20listeners&full=0&addons=1&stories=1&panelRight=1&addonPanel=storybook%2Fcode%2Fpanel).

[2018-02-06 00:22] slvnperron commented on #373
I think adding points is important, but I like the fact that you can right click to delete a link. Perhaps we could add point if we hold shift?

On an other note, I also really like the "auto-rearrange" feature here: http://www.projectstorm.io/react-diagrams/?selectedKind=3rd%20party%20libraries&selectedStory=Auto%20Distribute%20%28Dagre%29&full=0&addons=1&stories=1&panelRight=1&addonPanel=storybo

[2018-02-06 00:55] slvnperron opened #429 "Update react, react-dom, react-router, react-bootstrap to latest versions"

[2018-02-06 09:42] tejeshm commented on #355
Hey @slvnperron

I am facing the same issue and here is my implementation.

`bp.hear('STOP_CONVO', (event, next) => {
  const convo = bp.convo.find(event)
  if (convo) {
    convo.stop('aborted')
  }
})

bp.hear('MENU_CONVO_EX_01', (event, next) => {
  if (bp.convo.find(event)) {
    return event.reply('#askStopConvo')
  }

  bp.convo.start(event, convo => {
    convo.threads['default'].addQuestio

[2018-02-06 11:16] ryanc200427 opened #431 "CONVO.thread.addQuestion quick reply type location getting response"
How to get the longtitude and latitude from UMM created facebook location button?

I cant get the value from console.log(response)

##  content.yml
[code]

##  index.js
[code]

[2018-02-06 16:25] epaminond commented on #373
@slvnperron , `react-diagrams` don't provide api for it so we'd need to [customize](https://github.com/projectstorm/react-diagrams/blob/181b2f8122b48375d139d6f7e547579c639ff9ce/src/defaults/DefaultLinkWidget.tsx#L43) it's behavior. Looking into it.

[2018-02-06 17:32] slvnperron commented on #373
@epaminond Let's create a new Link widget and make right-clicking on it add a point? I think that would be fairly easy?

[2018-02-06 22:51] epaminond commented on #373
@slvnperron , not quite fairly easy, but possible: https://github.com/botpress/botpress/pull/432 :smile:

[2018-02-07 02:18] #377 closed

[2018-02-07 02:19] slvnperron commented on #376
Fixed in https://github.com/botpress/botpress/pull/430

[2018-02-07 02:19] #376 closed

[2018-02-07 02:19] #373 closed

[2018-02-07 02:25] slvnperron opened #434 "[Bug] Right-clicking on a link to add a point creates a new point for every links"
![bug_right](https://user-images.githubusercontent.com/1315508/35895150-25ede254-0b84-11e8-815e-66bc2a4db2e5.gif)

[2018-02-07 09:11] epaminond commented on #434
@slvnperron , this seems to reproduce with skills only. How can I install them? Do they come from some module?

[2018-02-07 19:26] epaminond commented on #434
@slvnperron , actually I was wrong, this reproduces for regular links either. Fixed it within this PR: https://github.com/botpress/botpress/pull/435

But still how can I install skills? :smile:

[2018-02-12 21:37] emirotin opened #437 "[Bug] Content Manager – Minor UI glitches"
Some of them may already be fixed, need validation.

- [ ] Implement two content types — a question and a collection of questions which is an array of `$ref`s to question. If from (the flow editor, for example) you open several pickers (pick collection, create new item, pick this item) only the first modal gets the search field autofocused. But keyboard up/down arrows seem to work fine (move betwe

[2018-02-14 20:26] slvnperron opened #438 "[Bug] Flows – Node deletion is broken"
Repro: try to delete a node in the latest beta

This is an important issue that needs to be fixed ASAP

[2018-02-14 21:13] epaminond commented on #438
@slvnperron when trying on `develop/x` branch, they can be deleted via `Backspace`. Should I also make it work for `Del` key?

[2018-02-14 21:23] slvnperron commented on #438
@epaminond They also get deleted on my side but the problem is they come back as soon as you change the state. I really needed this fix so I pushed a commit to solve this in `x` without PR but you can review the solution #9d3b230

[2018-02-14 21:23] #438 closed

[2018-02-15 00:30] slvnperron opened #439 "[Bug] Flows – Editing a transition condition removes the link"

[2018-02-15 00:47] #439 closed

[2018-02-15 08:49] #434 closed

[2018-02-15 15:00] epaminond commented on #375
@slvnperron , closing this for now. Please reopen if you still experience this issue.

[2018-02-15 15:00] #375 closed

[2018-02-15 18:58] tommyb23 opened #442 "Transpiling index.js file not working"
Hey, I am trying to transpile my index.js file which is the entry point to the app. When I run the server, I get the following error:

The bot entry point must be a function that takes an instance of bp

It's due to how webpack outputs the transpiled version. Is there a way around this to make it work? I would like to utilize es6 syntax throughout my whole app.

Thanks,

Tommy

[2018-02-15 19:02] slvnperron commented on #442
@tommyb23 Hey, just wondering if you can use node 8.1+? Not sure of how you setup your webpack, but you could look into having a separate `index.js` which isn't transpiled and then have the rest of your bot transpiled and loaded by that index.js

[2018-02-15 19:08] tommyb23 commented on #442
Hey @slvnperron  , thanks for the quick reply! I will look into transpiling everything but the index.js file!

Thanks,

Tommy

[2018-02-16 17:29] epaminond commented on #362
@slvnperron , I've completed all the items except for visual feedback. How would you like it to happen: should I somehow highlight the node that is in buffer display a "Copied" sign in the header or use smth like https://github.com/fkhadra/react-toastify?

By the way some minor visual change occurs: paste button becomes enabled.

[2018-02-16 19:01] slvnperron commented on #362
That's great! I think highlighting the node makes sense (like a yellow
border). A copied tag might also make sense :)

On Feb 16, 2018 12:29 PM, "Alex Pletnov" <notifications@github.com> wrote:

[2018-02-17 14:14] epaminond commented on #362
@slvnperron , I've went with toaster-message at the top. Let me know if you think we need to change that.

[2018-02-17 14:14] #362 closed

[2018-02-17 14:14] #358 closed

[2018-02-17 21:44] epaminond commented on #359
@slvnperron , how can I add functions?

[2018-02-17 22:04] mrbarletta commented on #225
@hugojosefson I would suggest adding the `--inspect` support to the CLI.

Currently if the `--watch / -w` is being used then nodemon will fire node without a way to specity ` --inspect `.

In the meantime I added this line on https://github.com/botpress/botpress/blob/master/src/cli/start.js#L74
`argvWithoutWatch.splice(1, 0, '--inspect');` as a workaround.

[2018-02-18 16:08] slvnperron commented on #359
@epaminond There :) https://github.com/botpress/botpress/blob/x/docs/docs/getting_started/trivia_actions.md

[2018-02-19 00:11] slvnperron opened #447 "[Bug] Flows – Linking between nodes is broken under certain circumstances"
I don't fully understand how and why this is happening, as it's working well with all the other nodes. Please see the video attached and I also attached the bot causing problem so that you can replicate that issue on your side. [The bot files](https://github.com/botpress/botpress/files/1735282/step-1.zip)

I believe this has something to do with the undo/redo feature but not 100% sure.

## Edit: I

[2018-02-19 09:16] epaminond commented on #447
@slvnperron it was coming from name indeed. Not from length but from "end" part in "amend". See https://github.com/botpress/botpress/pull/448

[2018-02-19 09:41] alokraj68 opened #449 "How to get user input to a var or const"
Make sure these checkboxes are checked before raising an issue, thank you!

- [X] Check that you are using node version >= `6.5`
- [X] Search the [documentation](https://botpress.io/docs)

Please also fill in these fields:

---

### Botpress version: `1.1.13`

### Channels: <<Webchat>>

Hi, I would like to get user inputs to a variable to send to my custom URL endpoints. how can I get the user inp

[2018-02-19 15:19] #447 closed

[2018-02-19 21:05] mrbarletta opened #453 "[Enhancement] Flows – main.flow.json should be created on `init` and undeletable"
Make sure these checkboxes are checked before raising an issue, thank you!

- [x] Check that you are using node version >= `6.5`
- [x] Search the [documentation](https://botpress.io/docs)

Please also fill in these fields:

---

### Botpress version: 2.0.1

### Channels: Messenger/Web

## Issue

Botpress expects the main.flow.json to exist even if there are other flows created and it fails to run.

[2018-02-19 21:08] mrbarletta opened #454 "[Bug] Flows – Prevent a node to be linked to itself"
Make sure these checkboxes are checked before raising an issue, thank you!

- [x] Check that you are using node version >= `6.5`
- [x] Search the [documentation](https://botpress.io/docs)

Please also fill in these fields:

---

### Botpress version: `2.0.1`

### Channels: Messenger/Web

## Issue
Flow diagram allows a node to be linked to itself.

[2018-02-19 21:09] #367 closed

[2018-02-19 21:19] mrbarletta opened #455 "[Feature Request] Flows – Dialog Manager API"
Make sure these checkboxes are checked before raising an issue, thank you!

- [x] Check that you are using node version >= `6.5`
- [x] Search the [documentation](https://botpress.io/docs)

Please also fill in these fields:

---

### Botpress version: `2.0.1`

### Channels: Messenger/Web

## API Ideas
In order to programmatically redirect a session on the flow I suggest a few public API

- Start/St

[2018-02-19 21:28] slvnperron commented on #455
Thanks Matias. Can you describe a bit more what you mean by "get node transition config" ?

[2018-02-19 21:31] slvnperron commented on #442
@tommyb23 Did that end up working?

[2018-02-20 18:00] azizkhani opened #456 "botDefaultResponse dose not work?"
Why botDefaultResponse dose not work in my bot?
is this function is just work in facebook messanger ?

[code]

[2018-02-20 23:12] epaminond commented on #393
@emirotin , closing this since relevant PR with fix was already merged.

[2018-02-20 23:12] #393 closed

[2018-02-20 23:17] epaminond commented on #453
@mrbarletta , for me it works even without `main.flow.json`. What kind of error are you getting?

[2018-02-20 23:23] epaminond commented on #88
@wac2007 , I suppose that you didn't add `botpress` to `package.json` of your bot. This doesn't reproduce for me on current stable version so closing this for now. Feel free to reopen if you still get this issue and can provide us with more details.

[2018-02-20 23:23] #88 closed

[2018-02-20 23:27] epaminond commented on #243
@Marcosul , did this work for you? Please reopen this issue if you still have a problem.

[2018-02-20 23:27] #243 closed

[2018-02-20 23:31] slvnperron commented on #456
@azizkhani That's specific to Boost, the bot we built (we're calling this from the Rivescript module).

What you're looking for is the `bp.fallbackHandler`: https://botpress.io/docs/foundamentals/content/

[2018-02-20 23:34] #359 closed

[2018-02-20 23:40] mrbarletta commented on #453
Hi @epaminond

I went ahead a created a new bot with  `botpress/bin/botpress` (cloned from develop/x)
then I created

- test flow
- modified the index.js to send the messages to the dialogEngine. (don't you think this should be the default behavior?)
[code]
And this is what I get on the console:
[code]

[2018-02-21 09:01] epaminond commented on #18
@slvnperron , we've removed possibility to install/remove modules from the /manage earlier. Can this one be closed then?

[2018-02-21 09:06] epaminond commented on #40
I've added `react-toastify` package within this commit: https://github.com/botpress/botpress/commit/526eabeca00b4d2ff0764eb1a79fdf5e5db52c88. I think it can be reused for this task.

[2018-02-21 09:14] epaminond commented on #250
@javadziaratnia , closing this issue for now. Feel free to reopen it if you still experience this issue.

[2018-02-21 09:14] #250 closed

[2018-02-21 09:23] epaminond commented on #313
@aroder , feel free to reopen it if you still experience an issue.

[2018-02-21 09:23] #313 closed

[2018-02-21 09:25] epaminond commented on #127
@sanampreet , there were to PRs merged fixing various windows-issues: https://github.com/botpress/botpress/pull/309, https://github.com/botpress/botpress/pull/338. Do you still experience same issues?

[2018-02-21 09:26] epaminond commented on #87
@wac2007 , feel free to reopen this if this is still an issue for you.

[2018-02-21 09:26] #87 closed

[2018-02-21 09:28] epaminond commented on #244
@emirotin , doesn't seem to reproduce for me either. Do you still get this issue?

[2018-02-21 10:58] epaminond commented on #178
We've already cleaned up dependencies within other PRs: https://github.com/botpress/botpress/pull/252/files, https://github.com/botpress/botpress/pull/320

And here's another PR that updates a outdated dependencies: https://github.com/botpress/botpress/pull/460

[2018-02-21 11:12] epaminond commented on #58
@rocel , we are using UglifyJsPlugin. As far as I can see it won't accept `compress: { warnings: false }` argument. If you meant passing `warnings: false` - it should be false by default anyway. Could you open a PR if you still see place for optimization (note that we don't want to increase build time either)?

[2018-02-21 23:37] mrbarletta commented on #449
This code comes from one of the samples. The callback has access to the text.

[code]

there is also the `event` on hear method that also has access to the text.

[2018-02-22 03:57] aroder commented on #313
Thanks @jsalwen and @epaminond. Sorry I haven't gotten back to you. When I get back to this project I will confirm. Much appreciated on behalf of all windows users everywhere!

[2018-02-22 08:33] epaminond commented on #453
Fixed this within this PR: https://github.com/botpress/botpress/pull/461

[2018-02-22 08:33] #453 closed

[2018-02-22 19:36] slvnperron commented on #18
Yes

[2018-02-22 19:36] #18 closed

[2018-02-22 20:27] epaminond commented on #454
Fixed within this PR: https://github.com/botpress/botpress/pull/458

[2018-02-22 20:27] #454 closed

[2018-02-22 20:32] epaminond commented on #17
@slvnperron , it seems we do have search in /manage. Is this issue outdated or is it about something else?

[2018-02-22 20:34] epaminond commented on #58
@rocel, feel free to reopen this if you'll have a chance to prepare a PR.

[2018-02-22 20:34] #58 closed

[2018-02-22 20:41] epaminond commented on #169
@tanmoy12 , was issue fixed after trying t reinstall dependencies?

@PeterSprague , it seems you were getting warning, not errors. Did it prevent bot from starting in some way? If so and if it's different error, I'd suggest to open separate issue on this.

@bibinbalakrishnan , your issue seems to be in using npm version incompatible with node. Try upgrading npm by running `npm install npm@latest -

[2018-02-22 20:42] epaminond commented on #127
@sanampreet , closing this for now. Feel free to reopen it in case you still have same issue.

[2018-02-22 20:42] #127 closed

[2018-02-22 20:45] epaminond commented on #325
Since issue seems to be solved, closing this.

[2018-02-22 20:45] #325 closed

[2018-02-22 20:48] #408 closed

[2018-02-22 22:09] EthanGarrison opened #463 "[Feature Request] Aborting queued messages"
### Botpress version: `1.1.12`

### Channels: Webchat

I've been looking through documentation and the code and couldn't find any place where this is possible, so asking here.

The idea is to be able to pause or just stop a reply.  So for instance if the bot sends a reply with UMM bloc that contains five messages and the user sends in a message before it is finished, I would like to be able to sto

[2018-02-22 22:17] #48 closed

[2018-02-23 07:25] #100 closed

[2018-02-23 07:26] epaminond commented on #169
Closing this for now since all the issues seem to be irrelevant to `botpress` itself.

[2018-02-23 07:26] #169 closed

[2018-02-23 07:31] epaminond commented on #351
@GlauberF , if you are talking about https://github.com/botpress/botpress-platform-webchat module, then it's customization is described in [README](https://github.com/botpress/botpress-platform-webchat#customize-the-view)? If it's about admin panel itself, then the only way I can see is forking the botpress repo (you can check [Setting up Local Env Guide](https://github.com/botpress/botpress/blob/

[2018-02-23 07:31] #351 closed

[2018-02-23 07:37] epaminond commented on #131
@AlexGustafsson , where is `broadcast` coming from? Are you using some package like https://github.com/WebReflection/broadcast?

[2018-02-23 07:38] #372 closed

[2018-02-23 08:40] emirotin commented on #244
I didn't even know how to reproduce it then :)

[2018-02-23 11:01] #244 closed

[2018-02-23 15:19] slvnperron commented on #244
I think this was UMM

[2018-02-23 15:20] epaminond commented on #244
@slvnperron , do you still get it? Should we reopen this issue?

[2018-02-23 15:23] slvnperron commented on #244
@epaminond Can't recall either so let's keep it closed and re-open with more details if we stumble on it again

[2018-02-23 15:28] epaminond commented on #357
@slvnperron , a few questions:
1. Should date time and author be displayed?
2. Should other users be able to reply? Or will they edit same memo?
3. Should we show all the comments in diagram?

[2018-02-23 15:35] slvnperron commented on #357
@epaminond

1. Yes
2. Yes
3. Let's make it a Popover when you click the "Comments" on the node in the diagram. The "comments" label could be like on the screenshot

[2018-02-23 16:02] slvnperron commented on #17
That's outdated, let's close this. Thanks

[2018-02-23 16:02] #17 closed

[2018-02-23 16:43] epaminond commented on #453
@slvnperron , do you also think we should make this behavior default?

[2018-02-23 16:46] mrbarletta commented on #453
In favor of my previous comment, without it, the Flow will not work right away and will confuse new users.

[2018-02-23 19:15] slvnperron commented on #453
Absolutely, we need to update the `botpress init` command to bootstrap a fully working X-compatible bot

[2018-02-23 19:30] epaminond commented on #453
Let's move it to separate issue then.

[2018-02-23 20:09] slvnperron opened #472 "[Bug] Flows – Many FLOWS/FLOW/LINK action dispatch when no changes"
Problem: There are many many FLOWS/FLOW/LINK actions being dispatched without any change to the flow diagram at all (just selecting and scrolling). `FLOWS/FLOW/LINK` should only be dispatched when links are updated

![botpress_x_issue](https://user-images.githubusercontent.com/1315508/36614646-59342568-18ab-11e8-812f-38c8c17090eb.gif)

[2018-02-23 20:10] slvnperron opened #473 "[BUG] Flows – Delete broken (again)"
Doesn't always happen, not sure what makes it trigger. Some nodes are not deletable. I can see in the events that the delete node action is not being dispatched.

![botpress_x_issue2](https://user-images.githubusercontent.com/1315508/36614711-8ffb669c-18ab-11e8-8b4b-d48f8aac9eb5.gif)

[2018-02-23 20:25] slvnperron commented on #473
@epaminond Update: found the issue, pushing a fix shortly

[2018-02-23 20:31] #473 closed

[2018-02-24 15:56] Japh opened #481 "[Feature Request] Support for environment-specific database configurations"
When developing locally and deploying to production, it would be nice to specific a local configuration to use SQLite while the production environment uses Postgres. Currently, configuring production breaks local development unless the configurations are exactly the same.

[2018-02-24 16:44] slvnperron commented on #481
Does setting `database: process.env.NODE_ENV === 'production' ? 'postgres' : 'sqlite'` solve your issue?

[2018-02-25 18:11] mrbarletta opened #488 "[Feature Request] Update to Webpack 4"
Make sure these checkboxes are checked before raising an issue, thank you!

- [x] Check that you are using node version >= `6.5`
- [x] Search the [documentation](https://botpress.io/docs)

Please also fill in these fields:

---

### Botpress version: `<<VERSION HERE>>`

### Channels: <<list of channels>>

#### Request details
Webpack 4 is a lot faster and have a bunch of other niceties -> https://

[2018-02-26 03:24] slvnperron commented on #488
Finally! Webpack 3 is so slow >_<

[2018-02-26 06:53] Japh commented on #481
Thanks so much, @slvnperron. Actually, I'm so silly... I wasn't defining a `DATABASE` environment variable, which is really all I needed to do.

My bad! Your solution does also work though, thanks.

[2018-02-26 06:53] #481 closed

[2018-02-26 15:20] epaminond commented on #472
It comes from [fixing adding links to nodes](https://github.com/botpress/botpress/commit/2ee3fccda335328350d4a1a364e17b0c291fcf48#diff-3c3e98e2063712a8626071d584f02b9dR276) and seems to be redundant. I [removed](https://github.com/botpress/botpress/pull/489) this action and it's calls completely but things seem to work fine.

@slvnperron, do you remember what you were fixing in that commit? Just w

[2018-02-26 17:05] epaminond commented on #364
@slvnperron , hope I got this task correct: https://github.com/botpress/botpress/pull/491

[2018-02-26 18:50] slvnperron commented on #179
@ricardovsilva Yes

[2018-02-26 18:50] #179 closed

[2018-02-26 21:04] epaminond commented on #145
We've [removed](https://github.com/botpress/botpress/pull/322) installing/uninstalling modules from the UI so this enhancement seems to be irrelevant now.

[2018-02-26 21:04] #145 closed

[2018-02-28 18:00] slvnperron commented on #463
## Implementation

**Version: ** Botpress X and above

We should add the ability to clear the outgoing queue for a specific user.

Relevant files / locations:

https://github.com/botpress/botpress/blob/develop/x/extensions/lite/queue/index.js
https://github.com/botpress/botpress/blob/develop/x/src/botpress.js#L218

[2018-03-01 01:03] slvnperron opened #492 "[Feature Request] Extract module components to "@botpress/sdk""
These are components that are shared / used by modules and should be extracted into a separate package (`@botpress/sdk`):

- Content Picker Widget
- @botpress/choice -> [Skills Helpers](https://github.com/botpress/modules/blob/master/packages/botpress-skill-choice/src/index.js#L3)

[2018-03-01 21:55] emirotin opened #494 "[X] Different TZ between the ghost content revisions and the client"
Ghost content revisions are stored in UTC which is OK
But this time is treated as the local time when the Version Control screen displays the "timeago" stamps

[2018-03-02 17:32] AlexGustafsson commented on #131
@epaminond no, it's a function written by me.

[code]

[2018-03-02 22:37] #429 closed

[2018-03-03 20:39] epaminond commented on #449
@alokraj68 , in upcoming botpress X you can also get user's input within registered functions via `event.text`.

[2018-03-03 20:39] #449 closed

[2018-03-03 20:51] epaminond commented on #334
@azizkhani , as of error in top post it seems to occur for Web, not telegram, right? Which version are you using?

I've checked the code and it seems an issue is not in content.yml file but in the way it [gets processed](https://github.com/botpress/botpress-platform-webchat/blob/9dcbab76be406bfb064fc00b4033b19ecb883714/src/umm.js#L269).

I don't consider this as an issue since web-channel has it's

[2018-03-03 20:51] #334 closed

[2018-03-03 20:58] epaminond commented on #143
@sinahwz , @jsalwen , are you still getting same error on latest versions?

[2018-03-03 21:04] epaminond commented on #22
@slvnperron , do we have list of changes in botpress/x anywhere? It could be a good time to start with changelog. :)

[2018-03-03 21:07] #352 closed

[2018-03-03 22:15] #364 closed

[2018-03-04 09:56] epaminond commented on #22
Actually we do have [changelog](https://github.com/botpress/botpress/blob/master/changelog.md) but I thought it's common to call it in uppercase like CHANGELOG.md.

[2018-03-04 09:56] #22 closed

[2018-03-04 11:57] epaminond commented on #442
@tommyb23 , feel free to reopen it if you still get the issue.

[2018-03-04 11:57] #442 closed

[2018-03-04 11:58] epaminond commented on #242
@amexperts , feel free to reopen this if you still have an issue.

[2018-03-04 11:58] #242 closed

[2018-03-04 18:05] slvnperron commented on #22
@epaminond Yup that changelog is auto generated. I was actually looking into using this: https://github.com/lob/generate-changelog

For our future commits. This makes the change log much better. We could add a pre-commit hook that makes sure we follow the convention when pushing commit messages.

@emirotin Any thoughts or best practices for generating CHANGELOGs? Perhaps we should just develop the

[2018-03-05 06:56] jjhesk commented on #170
we need to have telegram support for sure.

[2018-03-05 20:57] slvnperron opened #497 "[Bug] X – Content Manager | `content_items` table doesn't exist"
@emirotin The following error has been seen in a production bot today after several days of run time:

[code]

This is the in-memory table thing. Is it possible that Knex somehow reset the db connection or something?

[2018-03-05 21:14] emirotin commented on #497
Couldn't it be related to the getItemProviders who may be trying to operate on the "normal" db, not the GCM ad-hoc in-memory DB?

[2018-03-05 21:19] emirotin commented on #497
As for the connection reset I've added this to the in-memory DB creation (`getInMemoryDb`) to prevent exactly that:
[code]
ref: // https://github.com/tgriesser/knex/issues/1871#issuecomment-273721116

[2018-03-06 06:11] alsuga opened #498 "Deployment tutorial link is broken"
Make sure these checkboxes are checked before raising an issue, thank you!

- [x] Check that you are using node version >= `6.5`
- [x] Search the [documentation](https://botpress.io/docs)

Please also fill in these fields:
The link to the deploy example is broken, is
https://botpress.io/docs/deploy/heroku.html
but must be
https://botpress.io/docs/deploy/heroku/
---

### Botpress version: `<<1.1.13

[2018-03-07 07:12] fstn opened #500 "Unable to pickup a random text"
Try to do that (see it in the doc)

[code]

[code]
And it send the 3 texts to user :(

botpress: 1.1.13

[2018-03-07 07:15] #500 closed

[2018-03-08 04:13] slvnperron opened #502 "[Bug] X – Content Manager: Not dumping *all* elements"
ref: `dumpDataToFile` -> `listCategoryItems` with default count=50

`listCategoryItems` should implement paging and dump all the elements page by page not just first 10000.

[2018-03-08 11:37] elkhawajah opened #503 "botpressx initial deployment issue"
Make sure these checkboxes are checked before raising an issue, thank you!

- [x] Check that you are using node version >= `6.5`
- [x] Search the [documentation](https://botpress.io/docs)

Please also fill in these fields:

---

### Botpress version: `10.0.6`

### Channels:  nothing yet

---

I just started to deploy the bp x, so following the documentation, I installed botpress, the version menti

[2018-03-08 11:53] elkhawajah commented on #503
Nevermind, it was dependency issue, it used the older bp version in package.json, changed it to beta and works like a charm. thanks!

[2018-03-08 11:53] #503 closed

[2018-03-08 17:55] epaminond opened #504 "[Bug] X – Flows | Duplicating flow with choice skill keeps references to old skill id and json"
If I edit it - it get's changed in 2 places.

[code]

[2018-03-08 20:15] emirotin commented on #22
I've worked on a project where it was autogenerated but I don't quite liked it.
IMO making it mandatory for the PR is the way to go, at least for now.

[2018-03-09 02:47] slvnperron commented on #22
@emirotin @epaminond OK thanks, let's do this from now on :) PR = Changelog entry

[2018-03-09 14:10] PanierAvide opened #505 "[Bug] X – wrong default dependencies in package.json"
- [x] Check that you are using node version >= `6.5`
- [x] Search the [documentation](https://botpress.io/docs)

---

### Botpress version: `10.0.4`

---

When creating a new bot from scratch, `botpress init` commands generates a `package.json` file. The generated file contains old packages version, creating issues when running next installation commands. Example:
[code]

First error you encounter

[2018-03-09 16:23] slvnperron commented on #505
Merci Adrien, will fix

[2018-03-09 21:37] #472 closed

[2018-03-11 16:06] patlachance commented on #505
same error with botpress 10.0.2

[2018-03-12 19:11] EthanGarrison commented on #463
Closing this, as it works now in the `develop/x` branch

[2018-03-12 19:11] #463 closed

[2018-03-12 20:35] EthanGarrison opened #506 "[Feature Request] Actions – Namespace/Group Registered Functions"
### Botpress version: `10.0.5`

An idea that occurred to me while working with the new flow system is that if I have multiple flows, there is no real way for me to organize my functions that I am registering.  This could end up getting messy down the road as I build bigger, more complex flow systems.  Curious if this could be an option of adding some sort of nesting/namespacing to the register.

F

[2018-03-13 05:37] slvnperron commented on #506
That's a great idea, we were also running into this issue recently as the
bots grow in complexity.

I am curious by what you mean by tags for the UI?

On Mon, Mar 12, 2018, 4:35 PM EthanGarrison <notifications@github.com>
wrote:

[2018-03-13 15:45] EthanGarrison commented on #506
Ah, yeah, sorry, that wasn't very descriptive.

I was talking about perhaps showing them as groups in the select dropdown using option groups like in this [codepen](https://codepen.io/pen/)

[2018-03-13 17:22] slvnperron commented on #506
@EthanGarrison OK I think I know what you mean. Your codepen is empty but something like this right? https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_optgroup

[2018-03-13 17:28] EthanGarrison commented on #506
Yes, that is exactly what I'm talking about

[2018-03-13 23:59] slvnperron commented on #506
@EthanGarrison Yes that sounds like a great idea.

Just adding thoughts/notes if someone wants to tackle this:

- We're using `react-select`, groups are available from `v2`, [see this issue](https://github.com/JedWatson/react-select/issues/59)
- Would also be nice if we could group by calling the `registerFunctions` directly: `bp.dialogEngine.registerFunctions(actions, groupName)`
- We could also

[2018-03-16 06:54] sbpipb commented on #505
This happens as well on botpress 10.0.6

[2018-03-16 07:21] taewookim opened #508 "Can't install Messenger module"
Versions:

Os: Ubuntu 16.04 LTS
Node: 8.9.3
NPM:  5.5.1
Botpress: 1.1.13

Command ran:

Response:

However, when "bp start"

But I don't see any messenger module listed

Screenshot: https://s18.postimg.org/auz4n1to9/image.png

[2018-03-19 10:50] annslittleflower opened #509 "Botpress start error"
botpress version 10.0.6
After botpress init, inside package.json botpress version is ^1.0.0 or something like that, then you do npm install with that incorrect version, then botpress start and it fails, need to manually go to package json and write correct 10.0.6 version, do npm install and after that it is working. Writing it here just to notify others who have same kind of trouble

[2018-03-21 11:37] notformal opened #512 "Problems after installing botpress"
**Good day.

I have few errors after install the bottpress on my server (or localhost).

1. After installation - on Modules page i saw only 4 modules:**
- Scheduler
- Slack
- Dialog
- Simple Commands

Here is a screen:
http://joxi.ru/ZrJdYz0I9K8l72

**2. After it, i'm trying to instal modules via terminal,** but modules don't added to the modules list.
For example - jn this screen you can see, tha

[2018-03-22 22:01] emirotin opened #513 "Cleanup repo spam from being published to npm"
![](https://monosnap.com/file/pKUKF7hm8sqM18f1E3iVFSFWbNsOy2.png)

[2018-03-22 22:26] emirotin opened #514 "[X] bp init is broken"
I have introduced this bug some time ago.
_.template apparently is treating ES6-style interpolations as the syntax it has to handle
I've added the interpolation to the botfile template and it has broken the init command

I've pushed the fix directly to develop/x, please republish to npm when you have time

[2018-03-22 23:02] emirotin opened #515 "[X] configure dashboard server to send index.html for any unknown request"
That way direct URLs like /dashboard will work with page reload

[2018-03-23 16:51] slvnperron commented on #515
This is already the case, can you repro this (I can't) ?

[2018-03-23 16:58] slvnperron commented on #514
@emirotin Published in `10.0.8`

[2018-03-23 16:59] #514 closed

[2018-03-23 17:44] emirotin commented on #515
Hm, I've seen it yesterday — reloading the /middlewares page for example I've seen 404

[2018-03-23 22:05] emirotin opened #516 "[X] UX issue: easy to forget to save the flows"
I would rather save them on each change or make a warning to prompt for saving

[2018-03-23 22:16] emirotin opened #517 "[X] UX issue: pick the new content right after it's created"

[2018-03-24 13:15] thgh opened #518 "[X] channel webchat & messenger don't respect modulesConfigDir"
### Botpress version: `10.0.8 - 10.13.4`

### Channels: <s>webchat &</s> messenger

Reproduction:

- `yarn global add botpress@beta`
- `bp init`
- `yarn add @botpress/channel-messenger` (@beta works now)
- `bp start`

Expected: New file being created: `/config/botpress-messenger.yaml`
Actual: New file was created `/botpress-messenger.config.yaml` (not in `config`)

[2018-03-24 13:20] thgh opened #519 "[X] modulesConfigDir should not be ignored by watcher"
### Botpress version: `10.0.8 - 10.13.4`

Reproduction:

- `bp start -w`
- Manually edit channel-web.json

Expected: Bot reloads
Actual: Bot does not reload

If `modulesConfigDir` is set to the project root folder, the watcher will never trigger.
Solution 1: don't ignore `modulesConfigDir`
Solution 2: don't ignore `modulesConfigDir` but do ignore `.yml` extension by default
Solution 3: only ignore

[2018-03-25 19:54] thgh opened #520 "[X] Flow manager forgets scroll position after refresh"
### Botpress version: `10.0.2`

Two feature requests for the Flow manager:
* Persist scroll position + zoom level in localStorage
* Persist sidebar width/height in localStorage

[2018-03-25 20:52] OAyomide commented on #512
This is probably just an issue during your current development session. Does it still do like that?

[2018-03-25 20:59] OAyomide commented on #355
@tejeshm dont know if you have found a solution to this, but the solution is that you have re-arrange your middleware. Put the `convo.hear` middleware before `api.ai` middleware

[2018-04-05 19:06] epaminond commented on #512
@notformal , from the logs you provided, you are getting warnings not errors and they seem to be self-explained. As for modules, not all of them have UI-part - so some of them may not appear in the sidepanel.

Feel free to reopen this issue if you still need help!

[2018-04-05 19:06] #512 closed

[2018-04-07 20:24] thejavator opened #525 "[X] Unable to run the tutorial step-1"
Make sure these checkboxes are checked before raising an issue, thank you!

- [x] Check that you are using node version >= `6.5`
- [x] Search the [documentation](https://botpress.io/docs)

Please also fill in these fields:

---

### Botpress version: `<<10.0.11>>`

### Channels: <<list of channels>>

Hi,
I followed your 'Getting started' doc to run the first bot. I clone the tutorial repo, then tr

[2018-04-09 13:12] slvnperron commented on #525
@thejavator This has been fixed in now, thanks for reporting!

[2018-04-09 13:12] #525 closed

[2018-04-09 19:57] aaronorellana opened #526 "Can't install botpress"
Make sure these checkboxes are checked before raising an issue, thank you!

- [x] Check that you are using node version >= `6.5` I have 8.9.4
- [x] Search the [documentation](https://botpress.io/docs)

Please also fill in these fields:

npm WARN deprecated email-templates@2.7.1: 📫 Please upgrade to v3.5.0+ of email-templates to get email previews in your browser in development environment <https:/

[2018-04-15 08:29] raypp commented on #526
`npm install -g npm@latest`

make sure you have gcc and g++
`sudo apt-get install gcc`
`sudo apt-get install g++`

then try to install sqlite3 again:
`npm install sqlite3`